@(msg:String="")

@pluginjs = {
	<!--[if !IE]> -->
	<script type="text/javascript">
		window.jQuery || document.write("<script src='@routes.Assets.at("javascripts/jquery-2.1.1.min.js")'>"+"<"+"/script>");
	</script>
	<!-- <![endif]-->

	<!--[if IE]>
	<script type="text/javascript">
			window.jQuery || document.write("<script src='@routes.Assets.at("javascripts/jquery-1.11.1.min.js")'>"+"<"+"/script>");
	</script>
	<![endif]-->
	<script src="@routes.Assets.at("layout/bootstrap/js/bootstrap.min.js")"></script>
}

@inlinejs = {}

@pluginstyle = {
	<link href="@routes.Assets.at("layout/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
	<link href="@routes.Assets.at("layout/ace/css/font-awesome.min.css")" rel="stylesheet" />
	
	@** fonts **@	
	<link rel="stylesheet" href="@routes.Assets.at("layout/ace/css/ace-fonts.min.css")" />
	
	@** ace styles **@
	<link rel="stylesheet" href="@routes.Assets.at("layout/ace/css/ace.min.css")" />
	
	<!--[if lte IE 9]>
		<link rel="stylesheet" href="@routes.Assets.at("layout/ace/css/ace-part2.min.css")" />
	<![endif]-->
	<link rel="stylesheet" href="@routes.Assets.at("layout/ace/css/ace-skins.min.css")" />
	<link rel="stylesheet" href="@routes.Assets.at("layout/ace/css/ace-rtl.min.css")" />
	
	<!--[if lte IE 9]>
		<link rel="stylesheet" href="@routes.Assets.at("layout/ace/css/ace-ie.min.css")" />
	<![endif]-->
}

@inlinestyle = {}

@layout.ace.empty("500 Error Page - Leave Management Software - HRSifu",pluginjs,inlinejs,pluginstyle,inlinestyle) {

	<div class="error-container">
		<div class="well">
			<h1 class="grey lighter smaller">
				<span class="blue bigger-125">
					<i class="ace-icon fa fa-random"></i>
					505
				</span>
				Internal Server Error
			</h1>
			<hr />
			<h3 class="lighter smaller">Looks like something went completely wrong! But don't worry - it can happen to the best of us, and it just happen to you.</h3>
			<div class="space"></div>
			<h4 class="smaller">Try one of the following:</h4>
			<ul class="list-unstyled spaced inline bigger-110 margin-15">
				<li>
					<i class="ace-icon fa fa-hand-o-right blue"></i>
					Email us at <a href="mailto:support@@hrsifu.my">support@@hrsifu.my</a> on how this specific error occurred!
				</li>
				<li>
					<i class="ace-icon fa fa-hand-o-right blue"></i>
					Re-check the url for typos.
				</li>
				<li>
					<i class="ace-icon fa fa-hand-o-right blue"></i>
					Go to <a href="http://www.hrsifu.my">HRSifu.my</a>.
				</li>
			</ul>
			<hr />
			<i class="red">@msg</i>
		</div>
	<div>
	
}