@(msg:String="")

@pluginjs = {
	<!--[if !IE]> -->
	<script type="text/javascript">
		window.jQuery || document.write("<script src='@routes.Assets.at("javascripts/jquery-2.1.1.min.js")'>"+"<"+"/script>");
	</script>
	<!-- <![endif]-->

	<!--[if IE]>
	<script type="text/javascript">
			window.jQuery || document.write("<script src='@routes.Assets.at("javascripts/jquery-1.11.1.min.js")'>"+"<"+"/script>");
	</script>
	<![endif]-->
	<script src="@routes.Assets.at("layout/bootstrap/js/bootstrap.min.js")"></script>
}

@inlinejs = {}

@pluginstyle = {
	<link href="@routes.Assets.at("layout/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
	<link href="@routes.Assets.at("layout/ace/css/font-awesome.min.css")" rel="stylesheet" />
	
	@** fonts **@	
	<link rel="stylesheet" href="@routes.Assets.at("layout/ace/css/ace-fonts.min.css")" />
	
	@** ace styles **@
	<link rel="stylesheet" href="@routes.Assets.at("layout/ace/css/ace.min.css")" />
	<link rel="stylesheet" href="@routes.Assets.at("layout/ace/css/ace-skins.min.css")" />
	<link rel="stylesheet" href="@routes.Assets.at("layout/ace/css/ace-rtl.min.css")" />
}

@inlinestyle = {}

@layout.ace.empty("404 Page Not Found - Leave Management Software - HRSifu",pluginjs,inlinejs,pluginstyle,inlinestyle) {

	<div class="error-container">
		<div class="well">
			<h1 class="grey lighter smaller">
				<span class="blue bigger-125">
					<i class="ace-icon fa fa-sitemap"></i>
					404
				</span>
				Page Not Found
			</h1>
			<hr />
			<h3 class="lighter smaller">We looked everywhere but we couldn't find it!</h3>
			@msg
			<div class="space"></div>
			<h4 class="smaller">Try one of the following:</h4>
			<ul class="list-unstyled spaced inline bigger-110 margin-15">
				<li>
					<i class="ace-icon fa fa-hand-o-right blue"></i>
					Re-check the url for typos.
				</li>
				<li>
					<i class="ace-icon fa fa-hand-o-right blue"></i>
					Go to <a href="https://www.hrsifu.com">HRSifu.com</a>.
				</li>
				<li>
					<i class="ace-icon fa fa-hand-o-right blue"></i>
					Email us the url at <a href="mailto:support@@hrsifu.com">support@@hrsifu.com</a>.
				</li>
			</ul>
		</div>
	<div>
	
}