@(msg:Html=Html(""))(implicit flash: Flash, session: play.api.mvc.Session)

@pluginjs = {}

@inlinejs = {}

@pluginstyle = {}

@inlinestyle = {}

@layout.ace.main(session.get("company").get + " | HRLab.my",pluginjs,inlinejs,pluginstyle,inlinestyle) {

	<div class="error-container">
		<div class="well">
			<h1 class="grey lighter smaller">
				<span class="blue bigger-125">
					<i class="ace-icon fa fa-sign-in"></i>
				</span>
				Unauthorized Access
			</h1>
			<hr />
			<h3 class="lighter smaller">You have no permission to perform the action.</h3>
			@msg
			<div class="space"></div>
			<h4 class="smaller">Try one of the following:</h4>
			<ul class="list-unstyled spaced inline bigger-110 margin-15">
				<li>
					<i class="ace-icon fa fa-hand-o-right blue"></i>
					Re-check the url for typos.
				</li>
				<li>
					<i class="ace-icon fa fa-hand-o-right blue"></i>
					Go to <a href="/dashboard">Dashboard</a>.
				</li>
			</ul>
		</div>
	</div>

}