@import utilities.Alert

@(tasks: List[Task], leaves: List[Leave], leaveprofiles: List[LeaveProfile], alert:Alert=null)(implicit flash: Flash, session: play.api.mvc.Session)

@pluginjs = {
	<script src="@routes.Assets.at("layout/ace/js/dataTables/jquery.dataTables.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("layout/ace/js/dataTables/jquery.dataTables.bootstrap.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("layout/moment/moment.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("layout/jquery.fullcalendar/fullcalendar.min.js")" type="text/javascript"></script>
}

@inlinejs = {
	<script src="@routes.Assets.at("javascripts/common.calendar.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/dashboard.index.js")" type="text/javascript"></script>
}

@pluginstyle = {
	<link href="@routes.Assets.at("layout/jquery.fullcalendar/fullcalendar.min.css")" rel="stylesheet" media="screen">
}

@inlinestyle = {}

@layout.ace.main(session.get("company").get + " - HRSifu",pluginjs,inlinejs,pluginstyle,inlinestyle) {
	
	<div class="page-header">
		<h1>
			My Profile 
			<small><i class="ace-icon fa fa-angle-double-right"></i> Dashboard</small>
		</h1>
	</div>
	@layout.ace.alert(alert)
	<div class="row">
		<div class="col-sm-6">
			<div class="widget-box transparent">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title blue">
						<i class="ace-icon fa fa-tasks orange"></i>
						ACTIONS for you to do
					</h4>
				</div> @** .widget-header **@
				<div class="widget-body">
					<div class="widget-main">
						@if(tasks.length==0){
							<div class="profile-activity clearfix">													
								<div>Horray! No pending action for you.</div>
							</div>
						} else {
							@tasks.map { task =>
								<div class="profile-activity clearfix" id="div@task.lk">
									<div style="display:inline-block;width:60%">
										@Html(task.ct)
									</div>
									<div style="display:inline-block;width:39%;float:right;text-align:right">		
										@Html(task.bt)
									</div>
								</div>
							}
						}
					</div>
				</div> @**/.widget-body **@
			</div> @**/.widget-box **@

			<div class="widget-box transparent">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title blue">
						<i class="ace-icon fa fa-tasks orange"></i>
						My Leave Request(s)
					</h4>
				</div> @** .widget-header **@
				<div class="widget-body">
					<div class="widget-main">
						<div class="profile-activity clearfix">	
						@if(leaves.length==0){
							<div>You have no pending leave request.</div>
						} else {												
							<table id="sample-table-1" class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th>Num</th>
										<th>Leave Type</th>
										<th>Day Type</th>
										<th>Date From</th>
										<th>Date To</th>
										<th>&nbsp;</th>
									</tr>
								</thead>

								<tbody>
									@leaves.map { leave =>
										<tr>
											<td>@leave.docnum</td>
											<td>@leave.lt</td>
											<td>@leave.dt</td>
											<td>@{leave.fdat.get.dayOfMonth().getAsText + "-" + leave.fdat.get.monthOfYear().getAsShortText + "-" + leave.fdat.get.getYear.toString()}</td>
											<td>@{leave.tdat.get.dayOfMonth().getAsText + "-" + leave.tdat.get.monthOfYear().getAsShortText + "-" + leave.tdat.get.getYear.toString()}</td>
											<td class="text-center">
												<div class="btn-group">
													<a class="btn btn-xs btn-success" title="View" href="@routes.LeaveController.view(leave._id.stringify)">
														<i class="ace-icon fa fa-search-plus bigger-120"></i>
													</a>
												</div>
											</td>
										</tr>
									}
								</tbody>
							</table>
						}
						</div>
					</div>
				</div> @**/.widget-body **@
			</div> @**/.widget-box **@
			
			<div class="widget-box transparent">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title blue">
						<i class="ace-icon fa fa-tasks orange"></i>
						My Leave Entitlement and Balance
					</h4>
				</div> @** .widget-header **@
				<div class="widget-body">
					<div class="widget-main">
						<div class="profile-activity clearfix">
							@if(leaveprofiles.length==0) {
								You don't entitled any leave or time off. Please contact HR.
							} else {
								<table id="sample-table-1" class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th>Leave Type</th>
											<th>Entitlement</th>
											<th>Closing Balance</th>
										</tr>
									</thead>
									<tbody>
										@leaveprofiles.map { leaveprofile =>
											<tr>
												<td>@leaveprofile.lt</td>
												<td>@leaveprofile.cal.ent.toString()</td>
												<td>@leaveprofile.cal.cbal.toString()</td>
											</tr>
										}
									</tbody>
								</table>
							}
						</div>
					</div>
				</div> @**/.widget-body **@
			</div> @**/.widget-box **@
			
		</div>

		<div class="col-sm-6">
			<a href="@routes.LeaveController.create" class="btn btn-sm btn btn-block visible-sm visible-md visible-lg">Apply Leave</a>
			@if(session.get("roles").get.contains("Admin")) {
				<a href="@routes.LeaveOnBehalfController.create" class="btn btn-sm btn btn-block visible-sm visible-md visible-lg">Apply Leave On Behalf Of Employee</a>
			}
			<div class="space-6"></div>
			<div id="calendar"></div>
			<div class="space-6"></div>
			<a href="@routes.LeaveController.create" class="btn btn-sm btn btn-block visible-xs">Apply Leave</a>
			@if(session.get("roles").get.contains("Admin")) {
				<a href="@routes.LeaveOnBehalfController.create" class="btn btn-sm btn btn-block visible-xs">Apply Leave On Behalf Of Employee</a>
			}
		</div>
	
	</div>
	
}