@(leavepolicy:LeavePolicy)(implicit session: play.api.mvc.Session)

@pageheader = {
	<div class="page-header">
		<h1>Admin <small><i class="ace-icon fa fa-angle-double-right"></i> Leave Setting <i class="ace-icon fa fa-angle-double-right"></i> Leave Policy</small></h1>
	</div>
}

@pluginjs = {}

@inlinejs = {}

@pluginstyle = {}

@inlinestyle = {}

@buttons = {
	<a href="@routes.LeavePolicyController.edit(leavepolicy._id.stringify)" class="btn btn-sm btn btn-block">Edit</a>
	<a href="javascript:history.back()" class="btn btn-sm btn btn-block">Back</a>	
}

@contentRow(label: String, contentVal: String, cssClass:String="") = {
	@if(contentVal.trim() == "") {
		<dl class="dl-horizontal"><dt><label>@label</label></dt><dd class="@cssClass">&nbsp</dd></dl>
	} else {
		<dl class="dl-horizontal"><dt><label>@label</label></dt><dd class="@cssClass">@contentVal</dd></dl>
	}
}

@layout.ace.main93(session.get("company").get + " | HRLab.my",pageheader,pluginjs,inlinejs,pluginstyle,inlinestyle,buttons) {
	
	@contentRow("Leave type", leavepolicy.lt)
	@contentRow("Position type", leavepolicy.pt)
	@contentRow("Gender", leavepolicy.set.g)
	@contentRow("Marital status", leavepolicy.set.ms)
	@contentRow("Day type option", leavepolicy.set.dt)
	@contentRow("Accrual / Earn", 		
		leavepolicy.set.acc match {
			case "No accrue" => "Do not accrue. Just track usage"
			case "Monthly - utilisation based on earned" => "Accrue Monthly (At start of the month) - utilisation based on leave earned"
			case "Monthly - utilisation based on closing balance" => "Accrue Monthly (At start of the month) - utilisation based on closing balance"
			case "Yearly" => "Accrue Annually (At start of the cut off month)"
			case _ => "Opps! something is not correct. Please contact support."
		}
	)
	@contentRow("Carry forward expires", 
		leavepolicy.set.cexp match {
			case 0 => "Does not expire"
			case 1 => "After 1 month"
			case 2 => "After 2 months"
			case 3 => "After 3 months"
			case 4 => "After 4 months"
			case 5 => "After 5 months"
			case 6 => "After 6 months"
			case 7 => "After 7 months"
			case 8 => "After 8 months"
			case 9 => "After 9 months"
			case 10 => "After 10 months"
			case 11 => "After 11 months"
			case 12 => "After 12 months"
			case _ => "Opps! something is not correct. Please contact support."
		}
	)
	@contentRow("", if(leavepolicy.set.nwd==true){"This leave policy is not taken into account for holidays / weekends on leave calculation"}else{""})
	
	<div class="widget-box transparent">
		<div class="widget-header widget-header-flat">
			<h4 class="widget-title lighter">
				<i class="fa fa-cog"></i>
				Eligible Leave Entitlement
			</h4>
		</div>

		<div class="widget-body" style="display: block;">
			<div class="widget-main no-padding">
				<table class="table table-bordered table-striped">
					<thead class="thin-border-bottom">
						<tr>
							<th class="text-center">
								Service Months (<) <br>
								Maxinum is 600 which equivalent 50 years
							</th>
							<th class="text-center">Entitlement</th>
							<th class="text-center">Carry Forward</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="text-center">
								@leavepolicy.ent.e1_s.toString
							</td>
							<td class="text-center">
								@leavepolicy.ent.e1.toString							
							</td>
							<td class="text-center">
								@leavepolicy.ent.e1_cf.toString	
							</td>
						</tr>		
						<tr>
							<td class="text-center">
								@leavepolicy.ent.e2_s.toString
							</td>
							<td class="text-center">
								@leavepolicy.ent.e2.toString							
							</td>
							<td class="text-center">
								@leavepolicy.ent.e2_cf.toString	
							</td>
						</tr>	
						<tr>
							<td class="text-center">
								@leavepolicy.ent.e3_s.toString
							</td>
							<td class="text-center">
								@leavepolicy.ent.e3.toString							
							</td>
							<td class="text-center">
								@leavepolicy.ent.e3_cf.toString	
							</td>
						</tr>	
						<tr>
							<td class="text-center">
								@leavepolicy.ent.e4_s.toString
							</td>
							<td class="text-center">
								@leavepolicy.ent.e4.toString							
							</td>
							<td class="text-center">
								@leavepolicy.ent.e4_cf.toString	
							</td>
						</tr>	
						<tr>
							<td class="text-center">
								@leavepolicy.ent.e5_s.toString
							</td>
							<td class="text-center">
								@leavepolicy.ent.e5.toString							
							</td>
							<td class="text-center">
								@leavepolicy.ent.e5_cf.toString	
							</td>
						</tr>					
					</tbody>
				</table>
			</div><!-- /.widget-main -->
		</div><!-- /.widget-body -->
	</div>
}