@(signupform: Form[Signup], countries: List[String])

@import helper._

@pluginjs = {
	<script src="@routes.Assets.at("layout/jquery.validate/jquery.validate.min.js")"></script>

	<!-- Global site tag (gtag.js) - Google AdWords: 1009979115 -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=AW-1009979115"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', 'AW-1009979115');
	</script>
	
	<!-- Event snippet for HRSifu - Sign Up conversion page
		In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
	<script>
		function gtag_report_conversion(url) {
  			var callback = function () {
    		//	if (typeof(url) != 'undefined') {
      		//		window.location = url;
    		//	}
  			};
  			gtag('event', 'conversion', {
      			'send_to': 'AW-1009979115/-A8DCOOskGcQ653M4QM',
      			'event_callback': callback
  			});
 			return false;
		}
	</script>
}

@inlinejs = {
	<script src="@routes.Assets.at("javascripts/signup.create.js")"></script>
}

@pluginstyle = {
	<link href="@routes.Assets.at("stylesheets/common.signup.css")" rel="stylesheet" media="screen">
}

@inlinestyle = {
	<link href="@routes.Assets.at("stylesheets/common.jquery.validation.css")" rel="stylesheet" media="screen">
}

@layout.ace.public("Sign Up - HRSifu",pluginjs,inlinejs,pluginstyle,inlinestyle){
	
	<div id="signup-box" class="signup-box widget-box no-border visible">
		<div class="widget-body">
			<div class="widget-main">
				<h4 class="header green lighter bigger">
					<i class="ace-icon fa fa-pencil-square"></i>
					New Sign Up
				</h4>
				<div class="space-6"></div>
					@helper.form(action = routes.SignUpController.insert(), 'class -> "form-register", 'id -> "signupform") {
						<fieldset>	
							<label class="block clearfix">
								<span class="block input-icon input-icon-right">
									<input type="text" name="fname" id="fname" class="form-control" placeholder="First name" data-toggle="tooltip" title="First name">
									<i class="ace-icon fa fa-user"></i>
								</span>
							</label>
							<label class="block clearfix">
								<span class="block input-icon input-icon-right">
									<input type="text" name="lname" id="lname" class="form-control" placeholder="Last name" data-toggle="tooltip" title="Last name">
									<i class="ace-icon fa fa-user"></i>
								</span>
							</label>
							<label class="block clearfix">
								<span class="block input-icon input-icon-right">
									<input type="text" name="email" id="email" class="form-control" placeholder="Email" data-toggle="tooltip" title="Email">
									<i class="ace-icon fa fa-envelope"></i>
								</span>
							</label>
							<label class="block clearfix">
								<span class="block input-icon input-icon-right">
									<select id="gender" name="gender" class="form-control">
										<option class="blank" value="">Gender</option>
										<option class="blank" value="Male">Male</option>
										<option class="blank" value="Female">Female</option>
									</select>
								</span>
							</label>
							<label class="block clearfix">
								<span class="block input-icon input-icon-right">
									<select id="marital" name="marital" class="form-control">
										<option class="blank" value="">Marital status</option>
										<option class="blank" value="Single">Single</option>
										<option class="blank" value="Married">Married</option>
									</select>
								</span>
							</label>
							<label class="block clearfix">
								<span class="block input-icon input-icon-right">
									<input type="text" name="company" id="company" class="form-control" placeholder="Company" data-toggle="tooltip" title="Company">
									<i class="ace-icon fa fa-building"></i>
								</span>
							</label>
							<label class="block clearfix">
								<span class="block input-icon input-icon-right">
									<select id="country" name="country" class="form-control">
										<option class="blank" value="">Country</option>
										@countries.map(country=>Html("<option class='blank' value='" + country + "'>" + country + "</option>"))
									</select>
								</span>
							</label>
							<div class="clearfix">
								<button type="submit" class="form-control pull-left btn btn-sm btn-success">
									<span class="bigger-110">Sign Up</span>
								</button>
							</div>
						</fieldset>	
					}
			</div><!-- /widget-main -->
			<div class="toolbar center">
				<a href="@routes.AuthenticationController.login()" class="back-to-login-link">
					<i class="ace-icon fa fa-arrow-left"></i>
					Back to Login
				</a>			
			</div> @** /.toolbar center **@
		</div><!-- /widget-body -->
		
		<div class="space-12"></div>
		<div class="center">
			<a href="https://www.hrsifu.com" class="back-to-home">Go to HRSifu.com</a>
		</div>
	</div><!-- /signup-box -->
	
}