@(departments:List[String], offices:List[String])(implicit session: play.api.mvc.Session)

@pageheader = {
	<div class="page-header">
		<h1>Company <small><i class="ace-icon fa fa-angle-double-right"></i> Calendar</small></h1>
	</div>
}

@pluginjs = {
	<script src="@routes.Assets.at("layout/moment/moment.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("layout/jquery.fullcalendar/fullcalendar.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("layout/ace/js/date-time/bootstrap-datepicker.min.js")" type="text/javascript"></script>
}


@inlinejs = {
	<script src="@routes.Assets.at("javascripts/common.calendar.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/calendar.company.js")" type="text/javascript"></script>
	@if(session.get("roles").get.contains("Admin")) {
		<script src="@routes.Assets.at("javascripts/companyholiday.importholidaysmodal.js")" type="text/javascript"></script>
	}
}

@pluginstyle = {
	<link href="@routes.Assets.at("layout/jquery.fullcalendar/fullcalendar.min.css")" rel="stylesheet" media="screen">
	<link href="@routes.Assets.at("layout/jquery.fullcalendar/fullcalendar.print.min.css")" rel="stylesheet" media="print">
	<link href="@routes.Assets.at("layout/ace/css/datepicker.min.css")" rel="stylesheet" media="screen">
}

@inlinestyle = {}

@buttons = {
	<a href="@routes.CompanyHolidayController.create" class="btn btn-sm btn-block">Add Holiday</a>
	<a href="#" id="addholidayfromlistbtn" class="btn btn-sm btn-block hidden-xs hidden-sm" data-toggle="modal">Add Holiday From List</a>
	<a href="@routes.EventController.create" class="btn btn-sm btn-block">Add Event</a>
}

@if(session.get("roles").get.contains("Admin")) {
	@layout.ace.main93(session.get("company").get + " - HRSifu",pageheader,pluginjs,inlinejs,pluginstyle,inlinestyle,buttons) {
		<div class="form-group">
			<select class="form-control" id="calendardisplaytypes">
				<option value="Company Calendar">Company Calendar (Display company holiday and all employee's leave request)</option>
				<option value="My Calendar">My Calendar (Display company holiday and @session.get("name").get's leave request)</option>
				@departments.map{ department=> <option value="@department">@department (Display company holiday and selected department's leave request)</option> }
			</select>		
		</div>
		<div id="calendar"></div>
		@companyholiday.importholidaysmodal(offices)
	}
} else {
	@layout.ace.main(session.get("company").get + " - HRSifu",pluginjs,inlinejs,pluginstyle,inlinestyle) {
		@pageheader
		<div class="form-group">
			<select class="form-control" id="calendardisplaytypes">
				<option value="Company Calendar">Company Calendar (Display company holiday and all employee's leave request)</option>
				<option value="My Calendar">My Calendar (Display company holiday and @session.get("name").get's leave request)</option>
				@departments.map{ department=> <option value="@department">@department (Display company holiday and selected department's leave request)</option> }
			</select>		
		</div>
		<div id="calendar"></div>
	}
}
