@import helper._
@import reactivemongo.bson.BSONObjectID
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@(companyholiday:Form[CompanyHoliday], offices:List[String], oid:String="")(implicit session: play.api.mvc.Session)

@pageheader = {
	<div class="page-header">
		<h1>My Profile <small><i class="ace-icon fa fa-angle-double-right"></i> Dashboard <i class="ace-icon fa fa-angle-double-right"></i> Calendar <i class="ace-icon fa fa-angle-double-right"></i> Holiday </small></h1>
	</div>
}

@pluginjs = {
	<script src="@routes.Assets.at("layout/ace/js/date-time/bootstrap-datepicker.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("layout/jquery.validate/jquery.validate.min.js")"></script>
}

@inlinejs = {
	<script src="@routes.Assets.at("javascripts/companyholiday.myprofileform.js")" type="text/javascript"></script>
}

@pluginstyle = {
	<link href="@routes.Assets.at("layout/ace/css/datepicker.css")" rel="stylesheet" media="screen">
	<link href="@routes.Assets.at("stylesheets/common.jquery.validation.css")" rel="stylesheet" media="screen">
}

@inlinestyle = {}

@buttons = {
	<a href="javascript:handleSubmit();" class="btn btn-sm btn btn-block">Save</a>
	<a href="javascript:history.back()" class="btn btn-sm btn btn-block">Back</a>	
}

@contentRow(label: String, contentVal: String, cssClass:String="") = {
	@if(contentVal.trim() == "") {
		<dl class="dl-horizontal"><dt><label>@label</label></dt><dd class="@cssClass">&nbsp</dd></dl>
	} else {
		<dl class="dl-horizontal"><dt><label>@label</label></dt><dd class="@cssClass">@contentVal</dd></dl>
	}
}

@radioSelected(values: List[String], valueCheck: String) = {	
	@if(values.contains(valueCheck)) { checked="checked" }
}

@layout.ace.main93(session.get("company").get + " - HRSifu",pageheader,pluginjs,inlinejs,pluginstyle,inlinestyle,buttons) {
	
	@helper.form(
		action = routes.CompanyHolidayController.myprofileupdate(oid), 
		'id -> "companyholidayform"
	) {
	
		@inputText(companyholiday("n"), '_label->"Name", '_class->"dl-horizontal", '_showConstraints->false, 'class->"form-control")
			
		<dl class="dl-horizontal">
			<dt><label>Office(s)</label></dt>
			<dd>
				@for((office, index) <- offices.zipWithIndex) {
					<div class="checkbox">
						<label>
							<input name="off@index" id="off@index" type="checkbox" class="office ace" value="@office" @radioSelected(companyholiday.value.get.off, office)>
							<span class="lbl"> @office</span>
						</label>
					</div>
				}				
			</dd>
		</dl>
		
		@input(companyholiday("fdat"), '_label->"Date From", '_class->"dl-horizontal", '_showConstraints->false) { (id, name, value, args) =>
    	<div class="input-group">
    		<input type="text" name="@name" id="@id" class="form-control date-picker" value="@value" data-date-format="d-M-yyyy" @toHtmlArgs(args)>
				<span class="input-group-addon">
					<i class="fa fa-calendar bigger-110"></i>
				</span>
			</div>
		}
	
		@input(companyholiday("tdat"), '_label->"Date To", '_class->"dl-horizontal", '_showConstraints->false) { (id, name, value, args) =>
    	<div class="input-group">
    		<input type="text" name="@name" id="@id" class="form-control date-picker" value="@value" data-date-format="d-M-yyyy" @toHtmlArgs(args)>
				<span class="input-group-addon">
					<i class="fa fa-calendar bigger-110"></i>
				</span>
			</div>
		}

		<div class="hidden">
			@inputText(companyholiday("_id"),'type -> "hidden")
			@inputText(companyholiday("d"),'type -> "hidden")
			@inputText(companyholiday("off"),'type -> "hidden")
			@inputText(companyholiday("sys")("eid"),'type -> "hidden")
			@inputText(companyholiday("sys")("cdat"),'type -> "hidden")
			@inputText(companyholiday("sys")("mdat"),'type -> "hidden")
			@inputText(companyholiday("sys")("mby"),'type -> "hidden")
			@inputText(companyholiday("sys")("ddat"),'type -> "hidden")
			@inputText(companyholiday("sys")("dby"),'type -> "hidden")
			@inputText(companyholiday("sys")("ll"),'type -> "hidden")
		</div>
	}
		
}