@(companyholiday:CompanyHoliday)(implicit session: play.api.mvc.Session)

@pageheader = {
	<div class="page-header">
		<h1>My Profile <small><i class="ace-icon fa fa-angle-double-right"></i> Dashboard <i class="ace-icon fa fa-angle-double-right"></i> Calendar <i class="ace-icon fa fa-angle-double-right"></i> Holiday </small></h1>
	</div>
}

@pluginjs = {
	<script src="@routes.Assets.at("layout/jquery-ui/javascripts/jquery-ui-1.10.3.full.min.js")"></script>
	<script src="@routes.Assets.at("layout/jquery-ui/javascripts/jquery.ui.touch-punch.min.js")"></script>
}

@inlinejs = {
	<script src="@routes.Assets.at("javascripts/common.dialogbox.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/companyholiday.myprofileview.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/common.auditlog.js")" type="text/javascript"></script>
}

@pluginstyle = {
	<link rel="stylesheet" href="@routes.Assets.at("layout/jquery-ui/stylesheets/jquery-ui-1.10.3.full.min.css")" />
}

@inlinestyle = {}

@buttons = {
	@if(session.get("roles").get.contains("Admin")) {
		<a href="@routes.CompanyHolidayController.myprofileedit(companyholiday._id.stringify)" class="btn btn-sm btn btn-block">Edit</a>
		<a href="javascript:onDelete('@companyholiday._id.stringify')" class="btn btn-sm btn btn-block">Delete</a>
	}
	<a href="javascript:displayAuditLog('@companyholiday._id.stringify')" class="btn btn-sm btn btn-block">Audit Log</a>
	<a href="javascript:history.back()" class="btn btn-sm btn btn-block">Back</a>
}

@contentRow(label: String, contentVal: String, cssClass:String="") = {
	@if(contentVal.trim() == "") {
		<dl class="dl-horizontal"><dt><label>@label</label></dt><dd class="@cssClass">&nbsp</dd></dl>
	} else {
		<dl class="dl-horizontal"><dt><label>@label</label></dt><dd class="@cssClass">@contentVal</dd></dl>
	}
}

@layout.ace.main93(session.get("company").get + " - HRSifu",pageheader,pluginjs,inlinejs,pluginstyle,inlinestyle,buttons) {

	@contentRow("Name", companyholiday.n)
	@contentRow("State", companyholiday.st.mkString(", "))
	@contentRow("Date From", companyholiday.fdat.get.dayOfMonth().getAsText + "-" + companyholiday.fdat.get.monthOfYear().getAsShortText + "-" + companyholiday.fdat.get.getYear.toString())
	@contentRow("Date To", companyholiday.tdat.get.dayOfMonth().getAsText + "-" + companyholiday.tdat.get.monthOfYear().getAsShortText + "-" + companyholiday.tdat.get.getYear.toString())
	@layout.ace.dialogbox("dialog-message", Html("<div class='alert alert-info bigger-110'><p>This holiday will be permanently removed from the system and cannot be recovered.</p><p>Notes:</p><ul><li>Utilized on approved leave that fall on this holiday will not be re-calculate as result the utilized calculation might not be accurate.</li></ul></div>"))

}