@import helper._
@import reactivemongo.bson.BSONObjectID

@(office:Form[Office], oid:String="")(implicit session: play.api.mvc.Session)

@pageheader = {
	<div class="page-header">
	@if(oid=="") {	
		<h1>Company <small><i class="ace-icon fa fa-angle-double-right"></i> Profile <i class="ace-icon fa fa-angle-double-right"></i> Office <i class="ace-icon fa fa-angle-double-right"></i> New</small></h1>
	} else {
		<h1>Company <small><i class="ace-icon fa fa-angle-double-right"></i> Profile <i class="ace-icon fa fa-angle-double-right"></i> Office</small></h1>
	}
	</div>
}

@pluginjs = {
	<script src="@routes.Assets.at("layout/jquery.validate/jquery.validate.min.js")"></script>
}

@inlinejs = {
	<script src="@routes.Assets.at("javascripts/office.form.js")" type="text/javascript"></script>
	<script>
		$.validator.addMethod(
			"checkExistOfficeName",
			function(value) {
				var result = true
				var request = $.ajax({url:'/office/checkexistofficename?id=@oid&officename='+value, type: 'GET', async: false, dataType: 'json'});
				request.done(function(data) {
					if(data.status==true){
						result = false;
					}else{
						result = true;
					}
		   	 	});
		   	 	request.fail(function(jqXHR, textStatus) {
		   	 		console.log("Fail function checkExistOfficeName: " + textStatus);
					result = true;
				});
				return result
			},
			"Office name already been used."
		);
	</script>
}

@pluginstyle = {
	<link href="@routes.Assets.at("stylesheets/common.jquery.validation.css")" rel="stylesheet" media="screen">
}

@inlinestyle = {}

@buttons = {
	<a href="javascript:$('#officeform').submit();" class="btn btn-sm btn btn-block">Save</a>
	<a href="javascript:history.back()" class="btn btn-sm btn btn-block">Back</a>
}

@layout.ace.main93(session.get("company").get + " | HRLab.my",pageheader,pluginjs,inlinejs,pluginstyle,inlinestyle,buttons) {

	@helper.form(
		action = (
			if(oid=="")
				routes.OfficeController.insert
			else
				routes.OfficeController.update(oid)
		), 
		'id -> "officeform"
	) {
		@inputText(office("n"), '_label->"Office name", '_class->"dl-horizontal", '_showConstraints->false, 'class->"form-control")
		@inputText(office("ad1"), '_label->"Address 1", '_class->"dl-horizontal", '_showConstraints->false, 'class->"form-control")
		@inputText(office("ad2"), '_label->"Address 2", '_class->"dl-horizontal", '_showConstraints->false, 'class->"form-control")
		@inputText(office("ad3"), '_label->"Address 3", '_class->"dl-horizontal", '_showConstraints->false, 'class->"form-control")
		@inputText(office("pc"), '_label->"Postcode", '_class->"dl-horizontal", '_showConstraints->false, 'class->"form-control")
		@select(office("st"), options(List("Johor","Kedah","Kelantan","Kuala Lumpur","Labuan","Melaka","Negeri Sembilan","Pahang","Penang","Perak","Perlis","Sabah","Sarawak","Selangor","Terengganu")), '_label -> "State",'_default -> "Please select", '_class->"dl-horizontal", 'class->"form-control")
		<dl class="dl-horizontal">
			<dt><label>Country</label></dt>
			<dd class="">@office("ct").value</dd>
		</dl>
	
		<div class="hidden">
			@inputText(office("_id"),'type -> "hidden")
			@inputText(office("ct"),'type -> "hidden")
			@inputText(office("df"),'type -> "hidden")
			@inputText(office("sys")("eid"),'type -> "hidden")
			@inputText(office("sys")("cdat"),'type -> "hidden")
			@inputText(office("sys")("mdat"),'type -> "hidden")
			@inputText(office("sys")("mby"),'type -> "hidden")
			@inputText(office("sys")("ddat"),'type -> "hidden")
			@inputText(office("sys")("dby"),'type -> "hidden")
			@inputText(office("sys")("ll"),'type -> "hidden")
		</div>

	}

}