@import helper._
@import reactivemongo.bson.BSONObjectID
@import utilities.Alert
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@(person:Form[Person], persons:List[Person], departments:List[String], offices:List[String], positions:List[String], isLastAdmin:Boolean=false, alert:Alert=null)(implicit flash: Flash, session: play.api.mvc.Session)

@pageheader = {
	<div class="page-header">
		<h1>My Profile <small><i class="ace-icon fa fa-angle-double-right"></i> Personal Info <i class="ace-icon fa fa-angle-double-right"></i> General</small></h1>
	</div>
}

@pluginjs = {
	<script src="@routes.Assets.at("layout/jquery-ui/javascripts/jquery-ui-1.10.3.full.min.js")"></script>
	<script src="@routes.Assets.at("layout/ace/js/date-time/bootstrap-datepicker.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("layout/jquery.validate/jquery.validate.min.js")"></script>
}

@inlinejs = {
	<script src="@routes.Assets.at("javascripts/person.myprofileform.js")" type="text/javascript"></script>
}

@pluginstyle = {
	<link rel="stylesheet" href="@routes.Assets.at("layout/jquery-ui/stylesheets/jquery-ui-1.10.3.full.min.css")" />
	<link href="@routes.Assets.at("layout/ace/css/datepicker.css")" rel="stylesheet" media="screen">
	<link href="@routes.Assets.at("stylesheets/common.jquery.validation.css")" rel="stylesheet" media="screen">
}

@inlinestyle = {}

@buttons = {
	<div class="well">
		<h4 class="green smaller lighter">Notes:</h4>
		Updating position, gender, marital status and join date would re-compute leave profiles.
	</div>
	<a href="#" onclick="$('#personform').submit();" class="btn btn-sm btn btn-block">Save</a>
	<a href="javascript:history.back()" class="btn btn-sm btn btn-block">Back</a>	
}

@radioSelected(value: Option[String], valueCheck: String) = {
	@if(value != None){
		@if(value.get == valueCheck){
			checked="checked"
		}
	}
}

@layout.ace.main93(session.get("company").get + " - HRSifu",pageheader,pluginjs,inlinejs,pluginstyle,inlinestyle,buttons) {

	@layout.ace.alert(alert)
	@helper.form(
		action = routes.PersonController.myprofileupdate, 
		'id -> "personform"
	) {
		@inputText(person("p")("fn"), '_label->"First Name", '_class->"dl-horizontal", '_showConstraints->false, 'class->"form-control")
		@inputText(person("p")("ln"), '_label->"Last Name", '_class->"dl-horizontal", '_showConstraints->false, 'class->"form-control")
		<dl class="dl-horizontal">
			<dt><label>Email</label></dt>
			<dd class="">@person("p")("em").value</dd>
		</dl>
		@select(person("p")("pt"), options = options(positions.map(position=>position)), '_label -> "Position",'_default -> "Please select", '_class->"dl-horizontal", 'class->"form-control")
		@select(person("p")("mgrid"), options=persons.map(person=>person._id.stringify->{person.p.fn + " " + person.p.ln}),
			'_default -> "Please select",
			'_label -> "Manager",
			'_showConstraints -> false,
			'_class->"dl-horizontal", 
			'class->"form-control")	
		@select(person("p")("g"), options = Seq("Male"->"Male","Female"->"Female"), '_label -> "Gender",'_default -> "Please select", '_class->"dl-horizontal", 'class->"form-control")
		@select(person("p")("ms"), options = Seq("Single"->"Single","Married"->"Married"), '_label -> "Marital Status",'_default -> "Please select", '_class->"dl-horizontal", 'class->"form-control")
		@select(person("p")("dpm"), options = options(departments.map(department=>department)), '_label -> "Department",'_default -> "Please select", '_class->"dl-horizontal", 'class->"form-control")
		@select(person("p")("off"), options = options(offices.map(office=>office)), '_label -> "Office",'_default -> "Please select", '_class->"dl-horizontal", 'class->"form-control")
		@input(person("p")("edat"), '_label->"Join Date", '_class->"dl-horizontal", '_showConstraints->false) { (id, name, value, args) =>
    	<div class="input-group">
    		<input type="text" name="@name" id="@id" class="form-control date-picker" value="@value" data-date-format="d-M-yyyy" @toHtmlArgs(args)>
				<span class="input-group-addon">
					<i class="fa fa-calendar bigger-110"></i>
				</span>
			</div>
		}
		<dl class="dl-horizontal">
			<dt><label>Work Day</label></dt>
			<dd>
				<div class="checkbox" style="display: inline-block;">
					<label>
						<input type="checkbox" value="true" name="wd.wd1" id="wd_w1" class="ace" @radioSelected(person("wd")("wd1").value, "true")>
						<span class="lbl"> 1</span>
					</label>
				</div>
				<div class="checkbox" style="display: inline-block;">
					<label>
						<input type="checkbox" value="true" name="wd.wd2" id="wd_w2" class="ace" @radioSelected(person("wd")("wd2").value, "true")>
						<span class="lbl"> 2</span>
					</label>
				</div>
				<div class="checkbox" style="display: inline-block;">
					<label>
						<input type="checkbox" value="true" name="wd.wd3" id="wd_w3" class="ace" @radioSelected(person("wd")("wd3").value, "true")>
						<span class="lbl"> 3</span>
					</label>
				</div>
				<div class="checkbox" style="display: inline-block;">
					<label>
						<input type="checkbox" value="true" name="wd.wd4" id="wd_w4" class="ace" @radioSelected(person("wd")("wd4").value, "true")>
						<span class="lbl"> 4</span>
					</label>
				</div>
				<div class="checkbox" style="display: inline-block;">
					<label>
						<input type="checkbox" value="true" name="wd.wd5" id="wd_w5" class="ace" @radioSelected(person("wd")("wd5").value, "true")>
						<span class="lbl"> 5</span>
					</label>
				</div>
				<div class="checkbox" style="display: inline-block;">
					<label>
						<input type="checkbox" value="true" name="wd.wd6" id="wd_w6" class="ace" @radioSelected(person("wd")("wd6").value, "true")>
						<span class="lbl"> 6</span>
					</label>
				</div>
				<div class="checkbox" style="display: inline-block;">
					<label>
						<input type="checkbox" value="true" name="wd.wd7" id="wd_w7" class="ace" @radioSelected(person("wd")("wd7").value, "true")>
						<span class="lbl"> 7</span>
					</label>
				</div>
			</dd>
		</dl>

		<dl class="dl-horizontal">
			<dt><label>Role</label></dt>
			<dd>
				@if(isLastAdmin) {
					Only admin
				} else {
					<div class="checkbox" style="display: inline-block;">
						<label>
							<input type="checkbox" value="Admin" name="rl.admin" id="rl_admin" class="ace" @radioSelected(person("p")("rl").value, "Admin")>
							<span class="lbl"> Admin</span>
						</label>
					</div>
				}
			</dd>
		</dl>

		<div class="hidden">
			@inputText(person("_id"),'type -> "hidden")
			@inputText(person("p")("rl"),'type -> "hidden")
			@inputText(person("sys")("eid"),'type -> "hidden")
			@inputText(person("sys")("cdat"),'type -> "hidden")
			@inputText(person("sys")("mdat"),'type -> "hidden")
			@inputText(person("sys")("mby"),'type -> "hidden")
			@inputText(person("sys")("ddat"),'type -> "hidden")
			@inputText(person("sys")("dby"),'type -> "hidden")
			@inputText(person("sys")("ll"),'type -> "hidden")
			@inputText(person("p")("em"),'type -> "hidden")
		</div>

  }
}