@(title: String,pluginjs:Html=Html(""),inlinejs:Html=Html(""),pluginstyle:Html=Html(""),inlinestyle:Html=Html(""))(content:Html)

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>@title</title>
		<meta name="description" content="HRSifu is an online leave management system." />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />	
		<link rel="shortcut icon" href="@routes.Assets.at("images/HRSifu_Icon-Mini-Blue.ico")" />
		
		@** page specific plugin styles **@
		@pluginstyle
		@** inline styles related to this page **@
		@inlinestyle
	</head>
	<body>
		@content
		@** page specific plugin scripts **@
		@pluginjs
		@** inline scripts related to this page **@
		@inlinejs
	</body>
</html>
