@(event:Event)(implicit session: play.api.mvc.Session)

@pageheader = {
	<div class="page-header">
		<h1>Dashboard <small><i class="ace-icon fa fa-angle-double-right"></i> Calendar <i class="ace-icon fa fa-angle-double-right"></i> Event </small></h1>
	</div>
}

@pluginjs = {
	<script src="@routes.Assets.at("layout/jquery-ui/javascripts/jquery-ui-1.10.3.full.min.js")"></script>
	<script src="@routes.Assets.at("layout/jquery-ui/javascripts/jquery.ui.touch-punch.min.js")"></script>
}

@inlinejs = {
	<script src="@routes.Assets.at("javascripts/common.dialogbox.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/event.dashboardview.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/common.auditlog.js")" type="text/javascript"></script>
}

@pluginstyle = {
	<link rel="stylesheet" href="@routes.Assets.at("layout/jquery-ui/stylesheets/jquery-ui-1.10.3.full.min.css")" />
}

@inlinestyle = {}

@buttons = {
	@if(session.get("roles").get.contains("Admin")) {
		<a href="@routes.EventController.dashboardedit(event._id.stringify)" class="btn btn-sm btn btn-block">Edit</a>
		<a href="javascript:onDelete('@event._id.stringify')" class="btn btn-sm btn btn-block">Delete</a>
	}
	<a href="javascript:displayAuditLog('@event._id.stringify')" class="btn btn-sm btn btn-block">Audit Log</a>
	<a href="javascript:history.back()" class="btn btn-sm btn btn-block">Back</a>
}

@contentRow(label: String, contentVal: String, cssClass:String="") = {
	@if(contentVal.trim() == "") {
		<dl class="dl-horizontal"><dt><label>@label</label></dt><dd class="@cssClass">&nbsp</dd></dl>
	} else {
		<dl class="dl-horizontal"><dt><label>@label</label></dt><dd class="@cssClass">@contentVal</dd></dl>
	}
}

@layout.ace.main93(session.get("company").get + " - HRSifu",pageheader,pluginjs,inlinejs,pluginstyle,inlinestyle,buttons) {

	@contentRow("Name", event.n)
	@contentRow("Date From", 
		if(event.aday) {
			event.fdat.get.dayOfMonth().getAsText + "-" + event.fdat.get.monthOfYear().getAsShortText + "-" + event.fdat.get.getYear.toString()
		} else {	
			event.fdat.get.dayOfMonth().getAsText + "-" + event.fdat.get.monthOfYear().getAsShortText + "-" + event.fdat.get.getYear.toString() + " " + ("0" + event.fdat.get.getHourOfDay.toString).takeRight(2) + ":" + ("0" + event.fdat.get.getMinuteOfHour).takeRight(2)
		}
	)
	@contentRow("Date To", 
		if(event.aday) {
			event.tdat.get.dayOfMonth().getAsText + "-" + event.tdat.get.monthOfYear().getAsShortText + "-" + event.tdat.get.getYear.toString()
		} else {	
			event.tdat.get.dayOfMonth().getAsText + "-" + event.tdat.get.monthOfYear().getAsShortText + "-" + event.tdat.get.getYear.toString() + " " + ("0" + event.tdat.get.getHourOfDay.toString).takeRight(2) + ":" + ("0" + event.tdat.get.getMinuteOfHour).takeRight(2)
		}
	)
	@if(event.w!="") { @contentRow("Where", event.w) }
	<dl class="dl-horizontal"><dt><label>Colour</label></dt><dd><span class="btn-colorpicker" style="background-color:@event.c"></span></dd></dl>
	@if(!event.lrr.isEmpty){ 
		@contentRow("Leave Req. Restrictions", event.lrr.map( lrr => lrr.split("@@|@@").head ).mkString(", ")) 
	}
	@if(event.d!="") { @contentRow("Description", event.d) }
	@layout.ace.dialogbox("dialog-message", Html("<div class='alert alert-info bigger-110'><p>This event will be permanently removed from the system and cannot be recovered.</p></div>"))

}
