@import helper._
@import utilities.Alert
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@(resetform:Form[Reset],alert:Alert=null)(implicit flash: Flash)

@pluginjs = {
	<script src="@routes.Assets.at("layout/jquery.validate/jquery.validate.min.js")"></script>
}

@inlinejs = {
	<script src="@routes.Assets.at("javascripts/authentication.reset.js")"></script>
}

@pluginstyle = {
	<link href="@routes.Assets.at("stylesheets/common.authentication.css")" rel="stylesheet" media="screen">
}

@inlinestyle = {
	<link href="@routes.Assets.at("stylesheets/common.jquery.validation.css")" rel="stylesheet" media="screen">
}

@layout.ace.public("Reset Password | Leave Management Software | HRSifu.my",pluginjs,inlinejs,pluginstyle,inlinestyle){

	<div id="forgot-box" class="forgot-box widget-box no-border visible">
		<div class="widget-body">
			<div class="widget-main">
				<h4 class="header red lighter bigger">
					<i class="ace-icon fa fa-key"></i>
					Reset Password
				</h4>
				@layout.ace.alert(alert)
				<div class="space-6"></div>
				<div>Enter your email address below. We'll look for your account and send you a password reset email.</div>
				@helper.form(
					action = routes.AuthenticationController.resetPost,
					'id -> "resetform"
				) {
					<fieldset>
						<label class="block clearfix">
							<input type="text" name="email" id="email" class="form-control" placeholder="Email address" data-toggle="tooltip" title="Email address">
						</label>
				 		<div class="clearfix">
							<button type="submit" class="form-control pull-left btn btn-sm btn-danger">
								<i class="ace-icon fa fa-refresh"></i>
								<span class="bigger-110">Reset</span>
							</button>
						</div>
					</fieldset>
			}
			</div><!-- /widget-main -->
			<div class="toolbar center">
				<a href="@routes.AuthenticationController.login()" class="back-to-login-link">
					I want to login
					<i class="ace-icon fa fa-arrow-right"></i>
				</a>
			</div> @** /.toolbar clearfix **@
		</div><!-- /widget-body -->
		
		<div class="space-12"></div>
		<div class="center">
			<a href="http://www.hrsifu.my" class="back-to-home">Go to HRSifu.my</a>
		</div>
	</div><!-- /login-box -->
	
}