@import helper._
@import reactivemongo.bson.BSONObjectID
@import utilities.Alert
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@(set:Form[Set],alert:Alert=null)(implicit flash: Flash)

@pluginjs = {
	<script src="@routes.Assets.at("layout/jquery.validate/jquery.validate.min.js")"></script>
}

@inlinejs = {
	<script src="@routes.Assets.at("javascripts/authentication.set.js")"></script>
}

@pluginstyle = {
	<link href="@routes.Assets.at("stylesheets/common.authentication.css")" rel="stylesheet" media="screen">
}

@inlinestyle = {
	<link href="@routes.Assets.at("stylesheets/common.jquery.validation.css")" rel="stylesheet" media="screen">
}

@layout.ace.public("Set Password | Human Resources Software | HRSifu.my",pluginjs,inlinejs,pluginstyle,inlinestyle){
	
	<div id="forgot-box" class="forgot-box visible widget-box no-border">
		<div class="widget-body">
			<div class="widget-main">
				<h4 class="header red lighter bigger">
					<i class="ace-icon fa fa-key"></i>
					Set Password
				</h4>
				@layout.ace.alert(alert)
				<div class="space-6"></div>
				@helper.form(
					action = routes.AuthenticationController.setPost,
					'id -> "setform"
				) {
					<fieldset>
						<label class="block clearfix">
								<input type="password" name="npassword" id="npassword" class="form-control" placeholder="New Password" data-toggle="tooltip" title="New Password">
							</span>
						</label>
						<label class="block clearfix">
								<input type="password" name="cpassword" id="cpassword" class="form-control" placeholder="Confirm Password" data-toggle="tooltip" title="Confirm Password">
							</span>
						</label>
						<div class="space"></div>
				 		<div class="clearfix">
							<button type="submit" class="form-control pull-left btn btn-sm btn-danger">
								<span class="bigger-110">Submit</span>
							</button>
						</div>
						<div class="space-4"></div>
					</fieldset>
					<div class="hidden">
						@inputText(set("email"),'type -> "hidden")
						@inputText(set("resetkey"),'type -> "hidden")
					</div>
				}
			</div><!-- /widget-main -->
			<div class="toolbar center">
				<a href="@routes.AuthenticationController.login()" class="back-to-login-link">
					I want to login
					<i class="ace-icon fa fa-arrow-right"></i>
				</a>
			</div> @** /.toolbar clearfix **@
		</div><!-- /widget-body -->
		
		<div class="space-12"></div>
		<div class="center">
			<a href="http://www.hrsifu.my" class="back-to-home">Go to HRSifu.my</a>
		</div>
	</div><!-- /login-box -->
	
}