@import helper._
@import reactivemongo.bson.BSONObjectID
@import utilities.Alert
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@(leaveprofile:Form[LeaveProfile], leavetypes:List[String], oid:String="", alert:Alert=null)(implicit flash: Flash, session: play.api.mvc.Session)

@pageheader = {
	<div class="page-header">
		@if(oid=="") {
			<h1>My Profile <small><i class="ace-icon fa fa-angle-double-right"></i> Personal Info <i class="ace-icon fa fa-angle-double-right"></i> Leave Profile <i class="ace-icon fa fa-angle-double-right"></i> New</small></h1>
		} else {
			<h1>My Profile <small><i class="ace-icon fa fa-angle-double-right"></i> Personal Info <i class="ace-icon fa fa-angle-double-right"></i> Leave Profile</small></h1>
		}
	</div>
}

@pluginjs = {
	<script src="@routes.Assets.at("layout/ace/js/fuelux/fuelux.spinner.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("layout/ace/js/spin.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/jquery.spin.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("layout/jquery.validate/jquery.validate.min.js")"></script>
}

@inlinejs = {
	<script type="text/javascript">
		var p_pid = '@session.get("id").get';
	</script>
	<script src="@routes.Assets.at("javascripts/common.loaderanimation.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/leaveprofile.myprofileform.js")" type="text/javascript"></script>
}

@pluginstyle = {
	<link href="@routes.Assets.at("stylesheets/common.jquery.validation.css")" rel="stylesheet" media="screen">
}

@inlinestyle = {
	<link href="@routes.Assets.at("stylesheets/common.loaderanimation.css")" rel="stylesheet" media="screen">
}

@buttons = {
	<a href="javascript:$('#leaveprofileform').submit();" class="btn btn-sm btn btn-block">Save</a>
	<a href="javascript:history.back()" class="btn btn-sm btn btn-block">Back</a>	
}

@contentRow(label: String, contentVal: String, cssClass:String="", id:String="") = {
	@if(contentVal.trim() == "") {
		<dl class="dl-horizontal"><dt><label>@label</label></dt><dd class="@cssClass" id="@id">&nbsp;</dd></dl>
	} else {
		<dl class="dl-horizontal"><dt><label>@label</label></dt><dd class="@cssClass" id="@id">@contentVal</dd></dl>
	}
}

@layout.ace.main93(session.get("company").get + " - HRSifu",pageheader,pluginjs,inlinejs,pluginstyle,inlinestyle,buttons) {
	@layout.ace.alert(alert)
	@helper.form(
		action = (
			if(oid=="")
				routes.LeaveProfileController.myprofileinsert
			else
				routes.LeaveProfileController.myprofileupdate(oid)
		),
		'id -> "leaveprofileform"
	) {

		@if(oid=="") {
			@select(leaveprofile("lt"), options = options(leavetypes.map(leavetype=>leavetype)), '_label -> "Leave Type", '_default -> "Please select", '_class->"dl-horizontal", 'class->"form-control")
		} else {
			@contentRow("Leave Type", leaveprofile("lt").value.get)
		}
		@contentRow("Entitlement", leaveprofile("cal")("ent").value.get, "", "v_ent")
		@contentRow("Earned", leaveprofile("cal")("ear").value.get, "", "v_earned")
		<dl class="dl-horizontal">
			<dt><label>HR Adjustment</label></dt>
			<dd>
				<div class="ace-spinner touch-spinner" style="width: 100px;">
					<input type="text" name="cal.adj" id="adj" value=@leaveprofile("cal")("adj").value class="input-mini spinner-input form-control" readonly>
				</div>
				<br>
				<label id="adj-error" class="error" for="adj" style="display: inline;"></label>
			</dd>
		</dl>
		@contentRow("Utilized", leaveprofile("cal")("uti").value.get)
		@contentRow("Carry Forward", leaveprofile("cal")("cf").value.get)
		@contentRow("Carry Forward Utilized", leaveprofile("cal")("cfuti").value.get)
		@contentRow("Carry Forward Expired", leaveprofile("cal")("cfexp").value.get)
		@contentRow("Pending Approval", leaveprofile("cal")("papr").value.get)
		@contentRow("Balance", leaveprofile("cal")("bal").value.get, "", "v_bal")
		@contentRow("Closing Balance", leaveprofile("cal")("cbal").value.get, "", "v_cbal")

		<div class="widget-box">
			<div class="widget-header">
				<h4 class="smaller">Monthly Leave Earned</h4>
			</div>
			<div class="widget-body">
				<div class="widget-body-inner" style="display: block;">										
					<div class="widget-main">
						<div class="table-responsive">
							<table id="monthlyleaveearnedtable" class="table table-bordered">
								<thead><tr>
									<th>Jan</th>
									<th>Feb</th>
									<th>Mar</th>
									<th>Apr</th>
									<th>May</th>
									<th>Jun</th>
									<th>Jul</th>
									<th>Aug</th>
									<th>Sep</th>
									<th>Oct</th>
									<th>Nov</th>
									<th>Dec</th>
								</tr></thead>
								<tbody><tr>
									<td id="m_jan">@leaveprofile("me.jan").value</td>
									<td id="m_feb">@leaveprofile("me.feb").value</td>
									<td id="m_mar">@leaveprofile("me.mar").value</td>
									<td id="m_apr">@leaveprofile("me.apr").value</td>
									<td id="m_may">@leaveprofile("me.may").value</td>
									<td id="m_jun">@leaveprofile("me.jun").value</td>
									<td id="m_jul">@leaveprofile("me.jul").value</td>
									<td id="m_aug">@leaveprofile("me.aug").value</td>
									<td id="m_sep">@leaveprofile("me.sep").value</td>
									<td id="m_oct">@leaveprofile("me.oct").value</td>
									<td id="m_nov">@leaveprofile("me.nov").value</td>
									<td id="m_dec">@leaveprofile("me.dec").value</td>
								</tr></tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="widget-box">
			<div class="widget-header widget-header-flat">
				<h4 class="widget-title lighter">
					<i class="fa fa-cog"></i>
					Eligible Leave Entitlement
				</h4>
			</div>

			<div class="widget-body" style="display: block;">
				<div class="widget-main no-padding">
					<table class="table table-bordered table-striped">
						<thead class="thin-border-bottom">
							<tr>
								<th class="text-center">Service Month</th>
								<th class="text-center">Entitlement</th>
								<th class="text-center">Carry Forward</th>
							</tr>
						</thead>

						<tbody>

							<tr>
								<td class="text-center">
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<input type="text" name="set_ent.e1.s" id="e1_s" value=@leaveprofile("set_ent.e1.s").value class="input-mini spinner-input form-control" maxlength="3" readonly>
									</div>
									<br>
									<label id="e1_s-error" class="error" for="e1_s" style="display: inline;"></label>
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<div class="ace-spinner middle touch-spinner" style="width: 125px;">
											<div class="input-group">
												<button type="button" class="btn btn-xs" style="width:60px" onclick="$('#e1_s').ace_spinner('value', 0)">Min</button>
												<button type="button" class="btn btn-xs" style="width:60px" onclick="$('#e1_s').ace_spinner('value', 999)">Max</button>
											</div>
										</div>
									</div>
								</td>
								<td class="text-center">
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<input type="text" name="set_ent.e1.e" id="e1" value=@leaveprofile("set_ent.e1.e").value class="input-mini spinner-input form-control" maxlength="3" readonly>
									</div>
									<br>
									<label id="e1-error" class="error" for="e1" style="display: inline;"></label>
								</td>
								<td class="text-center">
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<input type="text" name="set_ent.e1.cf" id="e1_cf" value=@leaveprofile("set_ent.e1.cf").value class="input-mini spinner-input form-control" maxlength="3" readonly>
									</div>
									<br>
									<label id="e1_cf_s-error" class="error" for="e1_cf" style="display: inline;"></label>
								</td>
							</tr>

							<tr>
								<td class="text-center">
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<input type="text" name="set_ent.e2.s" id="e2_s" value=@leaveprofile("set_ent.e2.s").value class="input-mini spinner-input form-control" maxlength="3" readonly>
									</div>
									<br>
									<label id="e2_s-error" class="error" for="e2_s" style="display: inline;"></label>
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<div class="ace-spinner middle touch-spinner" style="width: 125px;">
											<div class="input-group">
												<button type="button" class="btn btn-xs" style="width:60px" onclick="$('#e2_s').ace_spinner('value', 0)">Min</button>
												<button type="button" class="btn btn-xs" style="width:60px" onclick="$('#e2_s').ace_spinner('value', 999)">Max</button>
											</div>
										</div>
									</div>
								</td>
								<td class="text-center">
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<input type="text" name="set_ent.e2.e" id="e2" value=@leaveprofile("set_ent.e2.e").value class="input-mini spinner-input form-control" maxlength="3" readonly>
									</div>
									<br>
									<label id="e2-error" class="error" for="e2" style="display: inline;"></label>
								</td>
								<td class="text-center">
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<input type="text" name="set_ent.e2.cf" id="e2_cf" value=@leaveprofile("set_ent.e2.cf").value class="input-mini spinner-input form-control" maxlength="3" readonly>
									</div>
									<br>
									<label id="e2_cf_s-error" class="error" for="e2_cf" style="display: inline;"></label>
								</td>
							</tr>
						
							<tr>
								<td class="text-center">
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<input type="text" name="set_ent.e3.s" id="e3_s" value=@leaveprofile("set_ent.e3.s").value class="input-mini spinner-input form-control" maxlength="3" readonly>
									</div>
									<br>
									<label id="e3_s-error" class="error" for="e3_s" style="display: inline;"></label>
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<div class="ace-spinner middle touch-spinner" style="width: 125px;">
											<div class="input-group">
												<button type="button" class="btn btn-xs" style="width:60px" onclick="$('#e3_s').ace_spinner('value', 0)">Min</button>
												<button type="button" class="btn btn-xs" style="width:60px" onclick="$('#e3_s').ace_spinner('value', 999)">Max</button>
											</div>
										</div>
									</div>
								</td>
								<td class="text-center">
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<input type="text" name="set_ent.e3.e" id="e3" value=@leaveprofile("set_ent.e3.e").value class="input-mini spinner-input form-control" maxlength="3" readonly>
									</div>
									<br>
									<label id="e3-error" class="error" for="e3" style="display: inline;"></label>
								</td>
								<td class="text-center">
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<input type="text" name="set_ent.e3.cf" id="e3_cf" value=@leaveprofile("set_ent.e3.cf").value class="input-mini spinner-input form-control" maxlength="3" readonly>
									</div>
									<br>
									<label id="e3_cf_s-error" class="error" for="e3_cf" style="display: inline;"></label>
								</td>
							</tr>
						
							<tr>
								<td class="text-center">
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<input type="text" name="set_ent.e4.s" id="e4_s" value=@leaveprofile("set_ent.e4.s").value class="input-mini spinner-input form-control" maxlength="3" readonly>
									</div>
									<br>
									<label id="e4_s-error" class="error" for="e4_s" style="display: inline;"></label>
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<div class="ace-spinner middle touch-spinner" style="width: 125px;">
											<div class="input-group">
												<button type="button" class="btn btn-xs" style="width:60px" onclick="$('#e4_s').ace_spinner('value', 0)">Min</button>
												<button type="button" class="btn btn-xs" style="width:60px" onclick="$('#e4_s').ace_spinner('value', 999)">Max</button>
											</div>
										</div>
									</div>
								</td>
								<td class="text-center">
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<input type="text" name="set_ent.e4.e" id="e4" value=@leaveprofile("set_ent.e4.e").value class="input-mini spinner-input form-control" maxlength="3" readonly>
									</div>
									<br>
									<label id="e4-error" class="error" for="e4" style="display: inline;"></label>
								</td>
								<td class="text-center">
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<input type="text" name="set_ent.e4.cf" id="e4_cf" value=@leaveprofile("set_ent.e4.cf").value class="input-mini spinner-input form-control" maxlength="3" readonly>
									</div>
									<br>
									<label id="e4_cf_s-error" class="error" for="e4_cf" style="display: inline;"></label>
								</td>
							</tr>
						
							<tr>
								<td class="text-center">
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<input type="text" name="set_ent.e5.s" id="e5_s" value=@leaveprofile("set_ent.e5.s").value class="input-mini spinner-input form-control" maxlength="3" readonly>
									</div>
									<br>
									<label id="e5_s-error" class="error" for="e5_s" style="display: inline;"></label>
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<div class="ace-spinner middle touch-spinner" style="width: 125px;">
											<div class="input-group">
												<button type="button" class="btn btn-xs" style="width:60px" onclick="$('#e5_s').ace_spinner('value', 0)">Min</button>
												<button type="button" class="btn btn-xs" style="width:60px" onclick="$('#e5_s').ace_spinner('value', 999)">Max</button>
											</div>
										</div>
									</div>
								</td>
								<td class="text-center">
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<input type="text" name="set_ent.e5.e" id="e5" value=@leaveprofile("set_ent.e5.e").value class="input-mini spinner-input form-control" maxlength="3" readonly>
									</div>
									<br>
									<label id="e5-error" class="error" for="e5" style="display: inline;"></label>
								</td>
								<td class="text-center">
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<input type="text" name="set_ent.e5.cf" id="e5_cf" value=@leaveprofile("set_ent.e5.cf").value class="input-mini spinner-input form-control" maxlength="3" readonly>
									</div>
									<br>
									<label id="e5_cf_s-error" class="error" for="e5_cf" style="display: inline;"></label>
								</td>
							</tr>
						
							<tr>
								<td class="text-center">
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<input type="text" name="set_ent.e6.s" id="e6_s" value=@leaveprofile("set_ent.e6.s").value class="input-mini spinner-input form-control" maxlength="3" readonly>
									</div>
									<br>
									<label id="e6_s-error" class="error" for="e6_s" style="display: inline;"></label>
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<div class="ace-spinner middle touch-spinner" style="width: 125px;">
											<div class="input-group">
												<button type="button" class="btn btn-xs" style="width:60px" onclick="$('#e6_s').ace_spinner('value', 0)">Min</button>
												<button type="button" class="btn btn-xs" style="width:60px" onclick="$('#e6_s').ace_spinner('value', 999)">Max</button>
											</div>
										</div>
									</div>
								</td>
								<td class="text-center">
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<input type="text" name="set_ent.e6.e" id="e6" value=@leaveprofile("set_ent.e6.e").value class="input-mini spinner-input form-control" maxlength="3" readonly>
									</div>
									<br>
									<label id="e6-error" class="error" for="e6" style="display: inline;"></label>
								</td>
								<td class="text-center">
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<input type="text" name="set_ent.e6.cf" id="e6_cf" value=@leaveprofile("set_ent.e6.cf").value class="input-mini spinner-input form-control" maxlength="3" readonly>
									</div>
									<br>
									<label id="e6_cf_s-error" class="error" for="e6_cf" style="display: inline;"></label>
								</td>
							</tr>
							
							<tr>
								<td class="text-center">
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<input type="text" name="set_ent.e7.s" id="e7_s" value=@leaveprofile("set_ent.e7.s").value class="input-mini spinner-input form-control" maxlength="3" readonly>
									</div>
									<br>
									<label id="e7_s-error" class="error" for="e7_s" style="display: inline;"></label>
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<div class="ace-spinner middle touch-spinner" style="width: 125px;">
											<div class="input-group">
												<button type="button" class="btn btn-xs" style="width:60px" onclick="$('#e7_s').ace_spinner('value', 0)">Min</button>
												<button type="button" class="btn btn-xs" style="width:60px" onclick="$('#e7_s').ace_spinner('value', 999)">Max</button>
											</div>
										</div>
									</div>
								</td>
								<td class="text-center">
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<input type="text" name="set_ent.e7.e" id="e7" value=@leaveprofile("set_ent.e7.e").value class="input-mini spinner-input form-control" maxlength="3" readonly>
									</div>
									<br>
									<label id="e7-error" class="error" for="e7" style="display: inline;"></label>
								</td>
								<td class="text-center">
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<input type="text" name="set_ent.e7.cf" id="e7_cf" value=@leaveprofile("set_ent.e7.cf").value class="input-mini spinner-input form-control" maxlength="3" readonly>
									</div>
									<br>
									<label id="e7_cf_s-error" class="error" for="e7_cf" style="display: inline;"></label>
								</td>
							</tr>
							
							<tr>
								<td class="text-center">
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<input type="text" name="set_ent.e8.s" id="e8_s" value=@leaveprofile("set_ent.e8.s").value class="input-mini spinner-input form-control" maxlength="3" readonly>
									</div>
									<br>
									<label id="e8_s-error" class="error" for="e8_s" style="display: inline;"></label>
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<div class="ace-spinner middle touch-spinner" style="width: 125px;">
											<div class="input-group">
												<button type="button" class="btn btn-xs" style="width:60px" onclick="$('#e8_s').ace_spinner('value', 0)">Min</button>
												<button type="button" class="btn btn-xs" style="width:60px" onclick="$('#e8_s').ace_spinner('value', 999)">Max</button>
											</div>
										</div>
									</div>
								</td>
								<td class="text-center">
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<input type="text" name="set_ent.e8.e" id="e8" value=@leaveprofile("set_ent.e8.e").value class="input-mini spinner-input form-control" maxlength="3" readonly>
									</div>
									<br>
									<label id="e8-error" class="error" for="e8" style="display: inline;"></label>
								</td>
								<td class="text-center">
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<input type="text" name="set_ent.e8.cf" id="e8_cf" value=@leaveprofile("set_ent.e8.cf").value class="input-mini spinner-input form-control" maxlength="3" readonly>
									</div>
									<br>
									<label id="e8_cf_s-error" class="error" for="e8_cf" style="display: inline;"></label>
								</td>
							</tr>
							
							<tr>
								<td class="text-center">
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<input type="text" name="set_ent.e9.s" id="e9_s" value=@leaveprofile("set_ent.e9.s").value class="input-mini spinner-input form-control" maxlength="3" readonly>
									</div>
									<br>
									<label id="e9_s-error" class="error" for="e9_s" style="display: inline;"></label>
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<div class="ace-spinner middle touch-spinner" style="width: 125px;">
											<div class="input-group">
												<button type="button" class="btn btn-xs" style="width:60px" onclick="$('#e9_s').ace_spinner('value', 0)">Min</button>
												<button type="button" class="btn btn-xs" style="width:60px" onclick="$('#e9_s').ace_spinner('value', 999)">Max</button>
											</div>
										</div>
									</div>
								</td>
								<td class="text-center">
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<input type="text" name="set_ent.e9.e" id="e9" value=@leaveprofile("set_ent.e9.e").value class="input-mini spinner-input form-control" maxlength="3" readonly>
									</div>
									<br>
									<label id="e9-error" class="error" for="e9" style="display: inline;"></label>
								</td>
								<td class="text-center">
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<input type="text" name="set_ent.e9.cf" id="e9_cf" value=@leaveprofile("set_ent.e9.cf").value class="input-mini spinner-input form-control" maxlength="3" readonly>
									</div>
									<br>
									<label id="e9_cf_s-error" class="error" for="e9_cf" style="display: inline;"></label>
								</td>
							</tr>
							
							<tr>
								<td class="text-center">
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<input type="text" name="set_ent.e10.s" id="e10_s" value=@leaveprofile("set_ent.e10.s").value class="input-mini spinner-input form-control" maxlength="3" readonly>
									</div>
									<br>
									<label id="e10_s-error" class="error" for="e10_s" style="display: inline;"></label>
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<div class="ace-spinner middle touch-spinner" style="width: 125px;">
											<div class="input-group">
												<button type="button" class="btn btn-xs" style="width:60px" onclick="$('#e10_s').ace_spinner('value', 0)">Min</button>
												<button type="button" class="btn btn-xs" style="width:60px" onclick="$('#e10_s').ace_spinner('value', 999)">Max</button>
											</div>
										</div>
									</div>
								</td>
								<td class="text-center">
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<input type="text" name="set_ent.e10.e" id="e9" value=@leaveprofile("set_ent.e10.e").value class="input-mini spinner-input form-control" maxlength="3" readonly>
									</div>
									<br>
									<label id="e10-error" class="error" for="e10" style="display: inline;"></label>
								</td>
								<td class="text-center">
									<div class="ace-spinner touch-spinner" style="width: 100px;">
										<input type="text" name="set_ent.e10.cf" id="e10_cf" value=@leaveprofile("set_ent.e10.cf").value class="input-mini spinner-input form-control" maxlength="3" readonly>
									</div>
									<br>
									<label id="e10_cf_s-error" class="error" for="e10_cf" style="display: inline;"></label>
								</td>
							</tr>
						
						</tbody>
					</table>
				</div>
			</div> <!-- /.widget-main -->
		</div> <!-- /.widget-body -->
		<div class="hidden">
			@inputText(leaveprofile("_id"),'type -> "hidden")
			@inputText(leaveprofile("pid"),'type -> "hidden")
			@inputText(leaveprofile("pn"),'type -> "hidden")
			@inputText(leaveprofile("cal")("ent"),'type -> "hidden")
			@inputText(leaveprofile("cal")("ear"),'type -> "hidden")
			@inputText(leaveprofile("cal")("uti"),'type -> "hidden")
			@inputText(leaveprofile("cal")("cf"),'type -> "hidden")
			@inputText(leaveprofile("cal")("cfuti"),'type -> "hidden")
			@inputText(leaveprofile("cal")("cfexp"),'type -> "hidden")
			@inputText(leaveprofile("cal")("papr"),'type -> "hidden")
			@inputText(leaveprofile("cal")("bal"),'type -> "hidden")
			@inputText(leaveprofile("cal")("cbal"),'type -> "hidden")
			@inputText(leaveprofile("me")("jan"),'type -> "hidden")
			@inputText(leaveprofile("me")("feb"),'type -> "hidden")
			@inputText(leaveprofile("me")("mar"),'type -> "hidden")
			@inputText(leaveprofile("me")("apr"),'type -> "hidden")
			@inputText(leaveprofile("me")("may"),'type -> "hidden")
			@inputText(leaveprofile("me")("jun"),'type -> "hidden")
			@inputText(leaveprofile("me")("jul"),'type -> "hidden")
			@inputText(leaveprofile("me")("aug"),'type -> "hidden")
			@inputText(leaveprofile("me")("sep"),'type -> "hidden")
			@inputText(leaveprofile("me")("oct"),'type -> "hidden")
			@inputText(leaveprofile("me")("nov"),'type -> "hidden")
			@inputText(leaveprofile("me")("dec"),'type -> "hidden")
			@inputText(leaveprofile("sys")("eid"),'type -> "hidden")
			@inputText(leaveprofile("sys")("cdat"),'type -> "hidden")
			@inputText(leaveprofile("sys")("mdat"),'type -> "hidden")
			@inputText(leaveprofile("sys")("mby"),'type -> "hidden")
			@inputText(leaveprofile("sys")("ddat"),'type -> "hidden")
			@inputText(leaveprofile("sys")("dby"),'type -> "hidden")
			@inputText(leaveprofile("sys")("ll"),'type -> "hidden")
			@if(oid!="") {
				@inputText(leaveprofile("lt"),'type -> "hidden")
			}
		</div>
	}	
}