@(leaveprofile:LeaveProfile)(implicit session: play.api.mvc.Session)

@pageheader = {
	<div class="page-header">
		<h1>My Profile <small><i class="ace-icon fa fa-angle-double-right"></i> Personal Info <i class="ace-icon fa fa-angle-double-right"></i> Leave Profile</small></h1>
	</div>
}

@pluginjs = {}

@inlinejs = {
	<script src="@routes.Assets.at("javascripts/leaveprofile.myprofileview.js")" type="text/javascript"></script>
}

@pluginstyle = {}

@inlinestyle = {}

@buttons = {
	@if(session.get("roles").get.contains("Admin")) {
		<a href="@routes.LeaveProfileController.myprofileedit(leaveprofile._id.stringify)" class="btn btn-sm btn btn-block">Edit</a>
	}
	<a href="javascript:history.back()" class="btn btn-sm btn btn-block">Back</a>	
}

@contentRow(label: String, contentVal: String, cssClass:String="") = {
	@if(contentVal.trim() == "") {
		<dl class="dl-horizontal"><dt><label>@label</label></dt><dd class="@cssClass">&nbsp</dd></dl>
	} else {
		<dl class="dl-horizontal"><dt><label>@label</label></dt><dd class="@cssClass">@contentVal</dd></dl>
	}
}

@layout.ace.main93(session.get("company").get + " | HRSifu.my",pageheader,pluginjs,inlinejs,pluginstyle,inlinestyle,buttons) {

	@contentRow("Leave type", leaveprofile.lt)
	@contentRow("Entitlement", leaveprofile.cal.ent.toString)
	@contentRow("Earned", leaveprofile.cal.ear.toString)
	@contentRow("HR Adjustment", leaveprofile.cal.adj.toString)
	@contentRow("Utilized", leaveprofile.cal.uti.toString)
	@contentRow("Carry Forward", leaveprofile.cal.cf.toString)
	@contentRow("Carry Forward Utilized", leaveprofile.cal.cfuti.toString)
	@contentRow("Carry Forward Expired", leaveprofile.cal.cfexp.toString)
	@contentRow("Pending Approval", leaveprofile.cal.papr.toString)
	@contentRow("Balance", leaveprofile.cal.bal.toString)
	@contentRow("Closing Balance", leaveprofile.cal.cbal.toString)

		<div class="widget-box">
			<div class="widget-header">
				<h4 class="smaller">Monthly Leave Earned</h4>
			</div>
			<div class="widget-body">
				<div class="widget-body-inner" style="display: block;">										
					<div class="widget-main">
						<div class="table-responsive">
							<table id="monthlyleaveearnedtable" class="table table-bordered">
								<thead><tr>
									<th>Jan</th>
									<th>Feb</th>
									<th>Mar</th>
									<th>Apr</th>
									<th>May</th>
									<th>Jun</th>
									<th>Jul</th>
									<th>Aug</th>
									<th>Sep</th>
									<th>Oct</th>
									<th>Nov</th>
									<th>Dec</th>
								</tr></thead>
								<tbody><tr>
									<td>@leaveprofile.me.jan.toString</td>
									<td>@leaveprofile.me.feb.toString</td>
									<td>@leaveprofile.me.mar.toString</td>
									<td>@leaveprofile.me.apr.toString</td>
									<td>@leaveprofile.me.may.toString</td>
									<td>@leaveprofile.me.jun.toString</td>
									<td>@leaveprofile.me.jul.toString</td>
									<td>@leaveprofile.me.aug.toString</td>
									<td>@leaveprofile.me.sep.toString</td>
									<td>@leaveprofile.me.oct.toString</td>
									<td>@leaveprofile.me.nov.toString</td>
									<td>@leaveprofile.me.dec.toString</td>
								</tr></tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="widget-box">
			<div class="widget-header widget-header-flat">
				<h4 class="widget-title lighter">
					<i class="fa fa-cog"></i>
					Eligible Leave Entitlement
				</h4>
			</div>

			<div class="widget-body" style="display: block;">
				<div class="widget-main no-padding">
					<table class="table table-bordered table-striped">
						<thead class="thin-border-bottom">
							<tr>
								<th class="text-center">
									Service Months (<) <br>
									Maxinum is 600 which equivalent 50 years
								</th>
								<th class="text-center">Entitlement</th>
								<th class="text-center">Carry Forward</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td class="text-center">
									@leaveprofile.set_ent.e1_s.toString
								</td>
								<td class="text-center">
									@leaveprofile.set_ent.e1.toString
								</td>
								<td class="text-center">
									@leaveprofile.set_ent.e1_cf.toString
								</td>
							</tr>

							<tr>
								<td class="text-center">
									@leaveprofile.set_ent.e2_s.toString
								</td>
								<td class="text-center">
									@leaveprofile.set_ent.e2.toString
								</td>
								<td class="text-center">
									@leaveprofile.set_ent.e2_cf.toString
								</td>
							</tr>
						
							<tr>
								<td class="text-center">
									@leaveprofile.set_ent.e3_s.toString
								</td>
								<td class="text-center">
									@leaveprofile.set_ent.e3.toString
								</td>
								<td class="text-center">
									@leaveprofile.set_ent.e3_cf.toString
								</td>
							</tr>
						
							<tr>
								<td class="text-center">
									@leaveprofile.set_ent.e4_s.toString
								</td>
								<td class="text-center">
									@leaveprofile.set_ent.e4.toString
								</td>
								<td class="text-center">
									@leaveprofile.set_ent.e4_cf.toString
								</td>
							</tr>
						
							<tr>
								<td class="text-center">
									@leaveprofile.set_ent.e5_s.toString
								</td>
								<td class="text-center">
									@leaveprofile.set_ent.e5.toString
								</td>
								<td class="text-center">
									@leaveprofile.set_ent.e5_cf.toString
								</td>
							</tr>
						
						</tbody>
					</table>
				</div>
			</div> <!-- /.widget-main -->
		</div> <!-- /.widget-body -->
	
}