@(claimcategories: List[ClaimCategory], claimworkflows: List[ClaimWorkflow], claimsetting: ClaimSetting)(implicit session: play.api.mvc.Session)

@pageheader = {
	<div class="page-header">
		<h1>Admin <small><i class="ace-icon fa fa-angle-double-right"></i> Claim Setting</small></h1>
	</div>
}

@pluginjs = {
	<script src="@routes.Assets.at("layout/jquery-ui/javascripts/jquery-ui-1.10.3.full.min.js")"></script>
	<script src="@routes.Assets.at("layout/jquery-ui/javascripts/jquery.ui.touch-punch.min.js")"></script>
	<script src="@routes.Assets.at("layout/ace/js/dataTables/jquery.dataTables.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("layout/ace/js/dataTables/jquery.dataTables.bootstrap.min.js")" type="text/javascript"></script>
}

@inlinejs = {
	<script src="@routes.Assets.at("javascripts/common.dialogbox.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/claimsetting.index.js")" type="text/javascript"></script>
}

@pluginstyle = {
	<link rel="stylesheet" href="@routes.Assets.at("layout/jquery-ui/stylesheets/jquery-ui-1.10.3.full.min.css")" />
}

@inlinestyle = {}

@buttons = {
	<a href="@routes.ClaimCategoryController.create" class="btn btn-sm btn-block">Add Claim Category</a>
	<a href="@routes.ClaimWorkflowController.create" class="btn btn-sm btn-block">Add Claim Workflow</a>	
}

@layout.ace.main93(session.get("company").get + " - HRSifu",pageheader,pluginjs,inlinejs,pluginstyle,inlinestyle,buttons) {

	<dl class="dl-horizontal">
		<dt><label>Disable User Request</label></dt>
		<dd>
			<div id="disable-request-view">
				<span id="disable-request-value">
					@claimsetting.dis match {
						case true => { Yes }
						case false => { No }
					}
				</span>
				&nbsp;<a href="#" title="Edit"><i class="ace-icon blue fa fa-pencil bigger-120" id="disable-request-pencil"></i></a>
				&nbsp;<span class="help-button" data-rel="popover" data-trigger="hover" data-placement="right" data-content="Do you want to prevent your users from submitting claim request through the system?" data-original-title="Disable Request">?</span>
			</div>
			<div id="disable-request-edit" style="display:none">
				<select id="disable-request-field">
					<option value="Yes" @if(claimsetting.dis){ selected }>Yes</option>
					<option value="No" @if(!claimsetting.dis){ selected }>No</option>
				</select>
				&nbsp;<a href="#" title="Update"><i class="ace-icon green fa fa-check bigger-120" id="disable-request-check"></i></a>
				&nbsp;<a href="#" title="Cancel"><i class="ace-icon red fa fa-times bigger-120" id="disable-request-times"></i></a>
			</div>
		</dd>	
	</dl>
			
	<h4 class="header smaller lighter blue">
		<i class="fa fa-cog"></i>
		Claim Category
	</h4>
	<div class="table-responsive">
    	<table id="claimcategorytable" class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>Category</th>
					<th>Applicable</th>
					<th>Transaction Limit</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				@claimcategories.map{ claimcategory =>
					<tr>
						<td>@claimcategory.cat</td>
						<td>
							@if(claimcategory.all) {
								Everyone
							} else {
								@claimcategory.app.map( app => app.split("@|@").head ).mkString(", ")
							}
						</td>
						<td>
							@if(claimcategory.tlim == 0){
								No Limit
							} else {
								@claimcategory.tlim.toString
							}
						</td>
						<td>
							<div class="btn-group">
								<a class="btn btn-xs btn-success" href="@routes.ClaimCategoryController.view(claimcategory._id.stringify)" title="View">
									<i class="ace-icon fa fa-search-plus bigger-120"></i>
								</a>
								<a class="btn btn-xs btn-info" title="Edit" href="@routes.ClaimCategoryController.edit(claimcategory._id.stringify)">
									<i class="ace-icon fa fa-pencil bigger-120"></i>
								</a>
								<a class="btn btn-xs btn-danger" href="javascript:onDeleteCategory('@claimcategory._id.stringify')" title="Delete">
									<i class="ace-icon fa fa-trash-o bigger-120"></i>
								</a>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	
	<h4 class="header smaller lighter blue">
		<i class="fa fa-cog"></i>
		Claim Workflow
	</h4>
	<div class="table-responsive">
    	<table id="claimworkflowtable" class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Workflow</th>
					<th>Applicable</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				@claimworkflows.map{ claimworkflow =>
					<tr>
						<td>@claimworkflow.wf</td>
						<td>
							@if(claimworkflow.d) {
								Default for everyone
							} else {
								@claimworkflow.app.map( app => app.split("@|@").head ).mkString(", ")
							}
						</td>
						<td>
							<div class="btn-group">
								<a class="btn btn-xs btn-success" href="@routes.ClaimWorkflowController.view(claimworkflow._id.stringify)" title="View">
									<i class="ace-icon fa fa-search-plus bigger-120"></i>
								</a>
								<a class="btn btn-xs btn-info" title="Edit" href="@routes.ClaimWorkflowController.edit(claimworkflow._id.stringify)">
									<i class="ace-icon fa fa-pencil bigger-120"></i>
								</a>
								@if(!claimworkflow.d){
									<a class="btn btn-xs btn-danger" href="javascript:onDeleteWorkflow('@claimworkflow._id.stringify')" title="Delete">
										<i class="ace-icon fa fa-trash-o bigger-120"></i>
									</a>
								}
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	
	@layout.ace.dialogbox("dialog-delete-category", Html("<div class='alert alert-info bigger-110'><p>Selected claim category will permanently deleted and cannot be recovered.</p></div>"))
	@layout.ace.dialogbox("dialog-delete-workflow", Html("<div class='alert alert-info bigger-110'><p>Selected claim workflow will permanently deleted and cannot be recovered.</p></div>"))
}