@import helper._
@import utilities.Alert
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@(claim:Form[Claim], categories:List[String], currencies:List[String], alert:Alert=null)(implicit flash: Flash, session: play.api.mvc.Session)

@pluginjs = {
	<script src="@routes.Assets.at("layout/ace/js/date-time/bootstrap-datepicker.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("layout/ace/js/jquery.hotkeys.js")"></script>
	<script src="@routes.Assets.at("layout/ace/js/bootstrap-wysiwyg.js")"></script>
	<script src="@routes.Assets.at("layout/jquery.validate/jquery.validate.min.js")"></script>
	<script src="@routes.Assets.at("layout/jquery.validate/additional-methods.min.js")"></script>
	<script src="@routes.Assets.at("layout/jquery-ui/javascripts/jquery-ui-1.10.3.full.min.js")"></script>
	<script src="@routes.Assets.at("layout/jquery-ui/javascripts/jquery.ui.touch-punch.min.js")"></script>
}

@inlinejs = {
	<script src="@routes.Assets.at("javascripts/claim.form.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/common.dialogbox.js")" type="text/javascript"></script>
}

@pluginstyle = {
	<link href="@routes.Assets.at("layout/ace/css/datepicker.min.css")" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="@routes.Assets.at("layout/jquery-ui/stylesheets/jquery-ui-1.10.3.full.min.css")" />
}

@inlinestyle = {
	<link href="@routes.Assets.at("stylesheets/common.jquery.validation.css")" rel="stylesheet" media="screen">
}

@optionSelectedS(value:String, valueCheck:String) = {
	@if(value.contains(valueCheck)) { selected="selected"  }
}

@layout.ace.main(session.get("company").get + " - HRSifu",pluginjs,inlinejs,pluginstyle,inlinestyle) {
	<div class="page-header">
		<h1>Dashboard <small><i class="ace-icon fa fa-angle-double-right"></i> Claim <i class="ace-icon fa fa-angle-double-right"></i> New</small></h1>
	</div>
	@layout.ace.alert(alert)
	<div class="row">
		@helper.form(
			action = routes.ClaimController.insert(),
			'id -> "claimform"	
		) {
			<div class="col-sm-6">
				<dl class="dl-horizontal">
					<dt><label for="s">Doc Num</label></dt>
					<dd>@claim("docnum").value</dd>
				</dl>
				<dl class="dl-horizontal">
					<dt><label for="s">Status</label></dt>
					<dd>@claim("wf.s").value</dd>
				</dl>
				@select(claim("ed.cat"), options = options(categories.map(category=>category)), '_label -> "Category", '_default -> "Please select", '_class->"dl-horizontal", 'class->"form-control")
				@input(claim("ed.rdat"), '_label->"Receipt Date", '_class->"dl-horizontal", '_showConstraints->false) { (id, name, value, args) =>
    				<div class="input-group">
    					<input type="text" name="@name" id="@id" class="form-control date-picker" value="@value" data-date-format="d-M-yyyy" @toHtmlArgs(args)>
						<span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
					</div>
				}
				@input(claim("ed")("amt")("amt"), '_label->"Amount", '_class->"dl-horizontal", '_showConstraints->false) { (id, name, value, args) =>
					<div class="row">
						<div class="col-xs-6 col-sm-4">
							<select id="ed_amt_ccy" name="ed.amt.ccy" class="form-control">
            					@for((currency, index) <- currencies.zipWithIndex) {
            						<option value="@currency" @optionSelectedS(claim.value.get.ed.amt.ccy, currency)>@currency</option>
            					}
        					</select>
						</div>
						<div class="col-xs-6 col-sm-8">
    							<input type="text" name="@name" id="@id" class="form-control" value="@value" @toHtmlArgs(args)>
						</div>
					</div>
				}
				@inputText(claim("ed.er"), '_label->"Exchange Rate", '_class->"dl-horizontal", '_showConstraints->false, 'class->"form-control", 'readonly -> "readonly")
				<dl class="dl-horizontal">
					<dt><label for="s">Approve Amount</label></dt>
					<dd>
					<div class="row">
						<div class="col-xs-2 col-sm-2">@claim("ed.aamt.ccy").value</div>
						<div class="col-xs-10 col-sm-10" id="aamt">
    						@claim("ed.aamt.amt").value
						</div>
					</div>
					</dd>
				</dl>
				@input(claim("ed")("gstamt")("tamt")("amt"), '_label->"GST / VAT", '_class->"dl-horizontal", '_showConstraints->false) { (id, name, value, args) =>
					<div class="row">
						<div class="col-xs-2 col-sm-2">@claim("ed.gstamt.tamt.ccy").value</div>
						<div class="col-xs-3 col-sm-5">
    							<input type="text" name="@name" id="@id" class="form-control" value="@value" @toHtmlArgs(args)>
						</div>
						<div class="col-xs-4 col-sm-5">
    						<a id="btnCallCompanyTaxModal" href="javascript:callCompanyTaxModal();" class="btn btn-xs btn-primary">
								<i class="ace-icon fa fa-external-link bigger-110"></i>Fill Tax Company Details
							</a>
						</div>
					</div>
				}
				<dl class="dl-horizontal " id="d_field">
    				<dt><label for="d">Description</label></dt>
    				<dd>
    					<div class="row"><div id="d-editor" class="wysiwyg-editor"><!-- custom html data --></div>
    				</dd>
    			</dl>
				<div class="space-6"></div>
				<a id="btnSubmit" href="javascript:$('#claimform').submit();" class="btn btn-sm btn btn-block">Submit</a>
				<a href="@routes.DashboardController.index" class="btn btn-sm btn btn-block">Back</a>	
			</div>	
			<div id="dialog-companytax" class="hide">
				<div class="form-group">
					<label for="form-field-username">Company Name</label>
					<div><input type="text" id="dialog_gstamt_cn" name="dialog.gstamt.cn" value="" class="form-control"></div>
				</div>
				<div class="space-4"></div>
				<div class="form-group">
					<label for="form-field-username">Company Reg. No</label>
					<div><input type="text" id="dialog_gstamt_crnum" name="dialog.gstamt.crnum" value="" class="form-control"></div>
				</div>
				<div class="space-4"></div>
				<div class="form-group">
					<label for="form-field-username">GST / VAT Reg. No</label>
					<div><input type="text" id="dialog_gstamt_tnum" name="dialog.gstamt.tnum" value="" class="form-control"></div>
				</div>
			</div>	
			<div class="hidden">
				@inputText(claim("_id"),'type -> "hidden")
				@inputText(claim("docnum"),'type -> "hidden")
				@inputText(claim("p.n"),'type -> "hidden")
				@inputText(claim("p.id"),'type -> "hidden")
				@inputText(claim("ed.glc"),'type -> "hidden")
				@inputText(claim("ed.aamt.ccy"),'type -> "hidden")
				@inputText(claim("ed.aamt.amt"),'type -> "hidden")
				@inputText(claim("ed.gstamt.cn"),'type -> "hidden")
				@inputText(claim("ed.gstamt.crnum"),'type -> "hidden")
				@inputText(claim("ed.gstamt.tnum"),'type -> "hidden")
				@inputText(claim("ed.gstamt.tamt.ccy"),'type -> "hidden")
				@inputText(claim("ed.iamt.ccy"),'type -> "hidden")
				@inputText(claim("ed.iamt.amt"),'type -> "hidden")
				@inputText(claim("ed.d"),'type -> "hidden")
				@inputText(claim("wf.paprn.n"),'type -> "hidden")
				@inputText(claim("wf.paprn.id"),'type -> "hidden")
				@inputText(claim("wf.s"),'type -> "hidden")
				@inputText(claim("wfs.s1"),'type -> "hidden")
				@inputText(claim("wfs.s2"),'type -> "hidden")
				@inputText(claim("wfs.s3"),'type -> "hidden")
				@inputText(claim("wfs.s4"),'type -> "hidden")
				@inputText(claim("wfs.s5"),'type -> "hidden")
				@inputText(claim("wfs.s6"),'type -> "hidden")
				@inputText(claim("wfs.s7"),'type -> "hidden")
				@inputText(claim("wfs.s8"),'type -> "hidden")
				@inputText(claim("wfs.s9"),'type -> "hidden")
				@inputText(claim("wfs.s10"),'type -> "hidden")
				@inputText(claim("wfat.at1.n"),'type -> "hidden")
				@inputText(claim("wfat.at1.id"),'type -> "hidden")
				@inputText(claim("wfat.at2.n"),'type -> "hidden")
				@inputText(claim("wfat.at2.id"),'type -> "hidden")
				@inputText(claim("wfat.at3.n"),'type -> "hidden")
				@inputText(claim("wfat.at3.id"),'type -> "hidden")
				@inputText(claim("wfat.at4.n"),'type -> "hidden")
				@inputText(claim("wfat.at4.id"),'type -> "hidden")
				@inputText(claim("wfat.at5.n"),'type -> "hidden")
				@inputText(claim("wfat.at5.id"),'type -> "hidden")
				@inputText(claim("wfat.at6.n"),'type -> "hidden")
				@inputText(claim("wfat.at6.id"),'type -> "hidden")
				@inputText(claim("wfat.at7.n"),'type -> "hidden")
				@inputText(claim("wfat.at7.id"),'type -> "hidden")
				@inputText(claim("wfat.at8.n"),'type -> "hidden")
				@inputText(claim("wfat.at8.id"),'type -> "hidden")
				@inputText(claim("wfat.at9.n"),'type -> "hidden")
				@inputText(claim("wfat.at9.id"),'type -> "hidden")
				@inputText(claim("wfat.at10.n"),'type -> "hidden")
				@inputText(claim("wfat.at10.id"),'type -> "hidden")
				@inputText(claim("wfa.a1"),'type -> "hidden")
				@inputText(claim("wfa.a2"),'type -> "hidden")
				@inputText(claim("wfa.a3"),'type -> "hidden")
				@inputText(claim("wfa.a4"),'type -> "hidden")
				@inputText(claim("wfa.a5"),'type -> "hidden")
				@inputText(claim("wfa.a6"),'type -> "hidden")
				@inputText(claim("wfa.a7"),'type -> "hidden")
				@inputText(claim("wfa.a8"),'type -> "hidden")
				@inputText(claim("wfa.a9"),'type -> "hidden")
				@inputText(claim("wfa.a10"),'type -> "hidden")
				@inputText(claim("wdadat.ad1"),'type -> "hidden")
				@inputText(claim("wdadat.ad2"),'type -> "hidden")
				@inputText(claim("wdadat.ad3"),'type -> "hidden")
				@inputText(claim("wdadat.ad4"),'type -> "hidden")
				@inputText(claim("wdadat.ad5"),'type -> "hidden")
				@inputText(claim("wdadat.ad6"),'type -> "hidden")
				@inputText(claim("wdadat.ad7"),'type -> "hidden")
				@inputText(claim("wdadat.ad8"),'type -> "hidden")
				@inputText(claim("wdadat.ad9"),'type -> "hidden")
				@inputText(claim("wdadat.ad10"),'type -> "hidden")
				@inputText(claim("sys")("eid"),'type -> "hidden")
				@inputText(claim("sys")("cdat"),'type -> "hidden")
				@inputText(claim("sys")("mdat"),'type -> "hidden")
				@inputText(claim("sys")("mby"),'type -> "hidden")
				@inputText(claim("sys")("ddat"),'type -> "hidden")
				@inputText(claim("sys")("dby"),'type -> "hidden")
				@inputText(claim("sys")("ll"),'type -> "hidden")
			</div>
		}
		<div class="col-sm-6">
			<p>Attachment</p>
		</div>
	</div>
}