@(leavepolicies: List[LeavePolicy], leavesetting: LeaveSetting)(implicit session: play.api.mvc.Session)

@pageheader = {
	<div class="page-header">
		<h1>Admin <small><i class="ace-icon fa fa-angle-double-right"></i> Leave Setting</small></h1>
	</div>
}

@pluginjs = {
	<script src="@routes.Assets.at("layout/jquery-ui/javascripts/jquery-ui-1.10.3.full.min.js")"></script>
	<script src="@routes.Assets.at("layout/jquery-ui/javascripts/jquery.ui.touch-punch.min.js")"></script>
	<script src="@routes.Assets.at("layout/ace/js/dataTables/jquery.dataTables.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("layout/ace/js/dataTables/jquery.dataTables.bootstrap.min.js")" type="text/javascript"></script>
}

@inlinejs = {
	<script src="@routes.Assets.at("javascripts/common.dialogbox.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/leavesetting.index.js")" type="text/javascript"></script>
}

@pluginstyle = {
	<link rel="stylesheet" href="@routes.Assets.at("layout/jquery-ui/stylesheets/jquery-ui-1.10.3.full.min.css")" />
}

@inlinestyle = {}

@buttons = {
	<a href="@routes.LeavePolicyController.create" class="btn btn-sm btn btn-block">Add Leave Policy</a>	
}

@checkSelected(value: String, valueCheck: String) = {
	@if(value == valueCheck){ selected }
}

@layout.ace.main93(session.get("company").get + " - HRSifu",pageheader,pluginjs,inlinejs,pluginstyle,inlinestyle,buttons) {
	
	<dl class="dl-horizontal">
		<dt><label>Leave Cut Off On</label></dt>
		<dd>
			<div id="leave-cut-off-view">
				<span id="leave-cut-off-value">
					@leavesetting.cfm match {
						case 1 => { 1st January }
						case 2 => { 1st February }
						case 3 => { 1st March }
						case 4 => { 1st April }
						case 5 => { 1st May }
						case 6 => { 1st June }
						case 7 => { 1st July }
						case 8 => { 1st August }
						case 9 => { 1st September }
						case 10 => { 1st October }
						case 11 => { 1st November }
						case 12 => { 1st December }
						case _ => {}
					}
				</span>
				&nbsp;<a href="#" title="Edit"><i class="ace-icon blue fa fa-pencil bigger-120" id="leave-cut-off-pencil"></i></a>
			</div>
			<div id="leave-cut-off-edit" style="display:none">
				<select id="leave-cut-off-field">
					<option value="1" @checkSelected(leavesetting.cfm.toString, "1")>1st January</option>
					<option value="2" @checkSelected(leavesetting.cfm.toString, "2")>1st February</option>
					<option value="3" @checkSelected(leavesetting.cfm.toString, "3")>1st March</option>
					<option value="4" @checkSelected(leavesetting.cfm.toString, "4")>1st April</option>
					<option value="5" @checkSelected(leavesetting.cfm.toString, "5")>1st May</option>
					<option value="6" @checkSelected(leavesetting.cfm.toString, "6")>1st June</option>
					<option value="7" @checkSelected(leavesetting.cfm.toString, "7")>1st July</option>
					<option value="8" @checkSelected(leavesetting.cfm.toString, "8")>1st August</option>
					<option value="9" @checkSelected(leavesetting.cfm.toString, "9")>1st September</option>
					<option value="10" @checkSelected(leavesetting.cfm.toString, "10")>1st October</option>
					<option value="11" @checkSelected(leavesetting.cfm.toString, "11")>1st November</option>
					<option value="12" @checkSelected(leavesetting.cfm.toString, "12")>1st December</option>
				</select>
				&nbsp;<a href="#" title="Update"><i class="ace-icon green fa fa-check bigger-120" id="leave-cut-off-check"></i></a>
				&nbsp;<a href="#" title="Cancel"><i class="ace-icon red fa fa-times bigger-120" id="leave-cut-off-times"></i></a>
			</div>
		</dd>	
	</dl>
	
	<dl class="dl-horizontal">
		<dt><label>Approval Method</label></dt>
		<dd>
			<div id="approval-method-view">
				<span id="approval-method-value">
					@leavesetting.aprmthd 
				</span>
				&nbsp;<a href="#" title="Edit"><i class="ace-icon blue fa fa-pencil bigger-120" id="approval-method-pencil"></i></a>				
			</div>
			<div id="approval-method-edit" style="display:none">
				<select id="approval-method-field">
					<option value="Only manager is authorized to approve leave request" @checkSelected(leavesetting.aprmthd, "Only manager is authorized to approve leave request")>Only manager is authorized to approve leave request</option>
					<option value="Both manager and substitute manager must approve leave request" @checkSelected(leavesetting.aprmthd, "Both manager and substitute manager must approve leave request")>Both manager and substitute manager must approve leave request</option>
					<option value="Either manager or substitute manager is authorized to approve leave request" @checkSelected(leavesetting.aprmthd, "Either manager or substitute manager is authorized to approve leave request")>Either manager or substitute manager is authorized to approve leave request</option>
					<option value="Substitute manager is authorized to approve leave request when manager is on leave" @checkSelected(leavesetting.aprmthd, "Substitute manager is authorized to approve leave request when manager is on leave")>Substitute manager is authorized to approve leave request when manager is on leave</option>
				</select>
				&nbsp;<a href="#" title="Update"><i class="ace-icon green fa fa-check bigger-120" id="approval-method-check"></i></a>
				&nbsp;<a href="#" title="Cancel"><i class="ace-icon red fa fa-times bigger-120" id="approval-method-times"></i></a>
			</div>
		</dd>	
	</dl>

	<dl class="dl-horizontal">
		<dt><label>Future Request</label></dt>
		<dd>
			<div id="future-request-view">
				<span id="future-request-value">
					@leavesetting.freq match {
						case true => { Allow future calendar year request  }
						case false => { Not allow future calendar year request }
					}
				</span>
				&nbsp;<a href="#" title="Edit"><i class="ace-icon blue fa fa-pencil bigger-120" id="future-request-pencil"></i></a>
				&nbsp;<span class="help-button" data-rel="popover" data-trigger="hover" data-placement="left" data-content="Would you like to grant your users the ability to apply leave in the next calendar year? By enabling this option, when a user’s leave request in next calendar year is approved, the utilization is deduct from current year leave balance." data-original-title="Future Request">?</span>
			</div>
			<div id="future-request-edit" style="display:none">
				<select id="future-request-field">
					<option value="Allow future calendar year request" @if(leavesetting.freq){ selected }>Allow future calendar year request</option>
					<option value="Not allow future calendar year request" @if(!leavesetting.freq){ selected }>Not allow future calendar year request</option>
				</select>
				&nbsp;<a href="#" title="Update"><i class="ace-icon green fa fa-check bigger-120" id="future-request-check"></i></a>
				&nbsp;<a href="#" title="Cancel"><i class="ace-icon red fa fa-times bigger-120" id="future-request-times"></i></a>
			</div>
		</dd>	
	</dl>
	
	<div class="table-responsive">
    	<table id="leavepoliciestable" class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>Leave Type</th>
					<th>Gender</th>
					<th>Marital Status</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				@leavepolicies.map{ leavepolicy =>
					<tr>
						<td>@leavepolicy.lt</td>
						<td>@leavepolicy.set.g</td>
						<td>@leavepolicy.set.ms</td>
						<td>
							<div class="btn-group">
								<a class="btn btn-xs btn-success" href="@routes.LeavePolicyController.view(leavepolicy._id.stringify)" title="View">
									<i class="ace-icon fa fa-search-plus bigger-120"></i>
								</a>
								<a class="btn btn-xs btn-info" title="Edit" href="@routes.LeavePolicyController.edit(leavepolicy._id.stringify)">
									<i class="ace-icon fa fa-pencil bigger-120"></i>
								</a>
								<a class="btn btn-xs btn-danger" href="javascript:onDelete('@leavepolicy._id.stringify', '@leavepolicy.lt')" title="Delete">
									<i class="ace-icon fa fa-trash-o bigger-120"></i>
								</a>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	@layout.ace.dialogbox("dialog-message", Html("<div class='alert alert-info bigger-110'><p>Selected leave policy will permanently deleted and cannot be recovered.</p><p>Notes:</p><ul><li>Leave profile that linked to this leave policy will be deleted.</li><li>Leave that linked to this leave policy will be locked.</li><li>No actions can be perform on locked document.</li></ul></div>"))
	@layout.ace.dialogbox("dialog-cutoff-change-confirm", Html("<p>Updating cut off month will re-calculate all employee’s leave earned in leave profiles.</p><p>Make sure you understand what you are doing. If not, please advise support@hrsifu.com.</p><div class='hr hr-12 hr-double'></div><p class='center'><i class='ace-icon fa fa-hand-o-right blue bigger-120'></i> Are you sure you want to update cut off month?</p>"))
}